<div class="container">
    <div class="row">
        <div class="col-md-5">
             <img src="../../../../assets/images/womenswing/womenslogo.png"  class="womenswinglogo" alt="womenslogo.png"/>
             <p>
                ORANGEISG aims to financially empower and provide livelihood opportunities to women in rural areas. We are spotlighting an individual women able to organize themselves to increase their own self –reliance. And also we geared towards mobilizing rural women to create an enabling environment through various affirmative development policies and programmes. The company will initiates a empower women with skills and employment opportunities, thereby helping them gain financial independence and enhance their family incomes.
             </p>
        </div>
        <div class="col-md-3">
            <img src="../../../../assets/images/womenswing/sidewomen.png" class="sidewomen" alt="sidewomen.png"/>
        </div>
        <div class="col-md-3">
            <img src="../../../../assets/images/womenswing/our-mission-and-vision.png" class="missionandvision" alt="our-mission-and-vision.png"/>
            <p>Our mission is to empower women with tools to work their way out of poverty, care for their families, and strengthen their communities.</p>
         
        </div>
    </div>
</div>
