<body>
<div class="wrap" *ngIf="isempty">

    <header class="cart-header cf">
      <strong>Order Summary</strong>
      
    </header>
 
    <div class="cart-table">
      <ul>
  
  <!-- begin simple product -->
        <li class="item"  *ngFor="let mycart of mycart">
          <div class="item-main cf">
            <div class="item-block ib-info cf"  [routerLink]="['/productdetailview',mycart.product_id]">
              <img class="product-img" src="{{mycart.product_img1}}" />
              <div class="ib-info-meta">
                <span class="title">{{mycart.product_name}}</span>
                <span class="itemno">Sold by {{mycart.company_name}}</span>
                <span class="tp-price"><i class="fa fa-inr" aria-hidden="true"></i> {{mycart.price}}</span>
              </div>
            </div>
            <div class="item-block ib-qty">
              <span class="price"><span>{{mycart.quantity}} x</span> {{mycart.price}}</span>
            </div>
            <div class="item-block ib-total-price">
              <span class="tp-price"><i class="fa fa-inr" aria-hidden="true"></i> {{mycart.overallprice}}</span>
              <span class="tp-remove"><i class="i-cancel-circle"></i></span>
              <div>
                  <span class="btn-delete btn-danger" (click)="removecart(mycart.cartid)" style="color:white"><i class="fa fa-trash"></i></span>
              </div>
            </div>         
          </div>
          <div class="item-foot cf">
            <div class="box">
                <button type="button" class="button" (click)="removequantity(mycart.cartid,mycart.minquantity)">-</button>
                <input type="text" min="1" class="number" id="{{mycart.cartid}}" [value]="mycart.quantity" disabled />
                <button type="button" class="button" (click)="addquantity(mycart.cartid,mycart.maxquantity)">+</button>
              </div>
          </div>
        </li>
  <!-- end simple product -->
  
      </ul>
    </div>
    <div class="sub-table cf">
     <div class="summary-block">       
        <ul>
          <li class="subtotal"><span class="sb-label">Subtotal</span><span class="sb-value"><i class="fa fa-inr" aria-hidden="true"></i> {{carttotal}}</span></li>
          <li class="shipping"><span class="sb-label">Shipping</span><span class="sb-value">{{cartship}}</span></li>
          <li class="grand-total"><span class="sb-label">Total</span><span class="sb-value"><i class="fa fa-inr" aria-hidden="true"></i> {{finaltotal}}</span></li>
        </ul>
      </div>
     <!--   <div class="copy-block">    
        <p> Min. Order Quantity 2 Unit</p>
        <p>  Max. Order Quantity 10 Unit</p>
        <p>  Delivery by 15 to 20 days</p>
      </div> -->
    </div>
    
    <div class="cart-footer cf">
        <span class="btn btn-success" [routerLink]="['/productshipping']">Place Order</span>
    </div>
  </div>
  <div class="wrap" *ngIf="!isempty">
    <header class="cart-header cf">
      <strong>Order Summary</strong>
      
    </header>
 
    <div class="cart-table">
      <img class="logo-img" style="margin-left: 35%;width: 300px;" src="https://www.famposo.com/testsoftlaunch/assets/images/product/cart.png">
      <div>
         <button class="btn btn-primary" style="
         /* margin-left: 0px; */
         /* align-content: center; */
         margin-left: 45%;
         margin-top: 2%;
         margin-bottom: 1%;
     "  [routerLink]="['/productlisting']">Add Product</button>
        </div>
    </div>
  </div>
</body>