body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(to right, #1DE9B6, #FFEE58);
    background-repeat: no-repeat
}

.progress {
    height: 13px;
    width: 350px;
    margin: 10px 20px;
    background-color: #FFF176
}

.progress-bar {
    background-color: #FBC02D
}

.count {
    width: 350px
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.card {
    padding-bottom: 20px
}

.card-header {
    padding: 20px 60px
}

.card-body {
   
    padding-left: 55px;
    padding-right: 55px
}

.card-body.show {
    display: block
}

.yellow-text {
    color: #FBC02D
}

.card-block {
    width: 235px;
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 5px !important;
    background-color: #FAFAFA;
    margin-bottom: 30px
}

.radio {
    display: inline-block;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%)
}

.radio:hover {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.radio.selected {
    border: 1px solid #F9A825;
    box-shadow: 0px 8px 16px 0px #EEEEEE;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%)
}

.fa-check {
    color: #FBC02D;
    border-radius: 50%;
    border: 2px solid #FBC02D;
    padding: 5px
}

.fa-circle {
    color: #FAFAFA;
    border-radius: 50%;
    border: 2px solid #BDBDBD;
    padding: 5px 6.155px
}

.pic,
.pic-0 {
    height: 90px;
    width: 130px
}

.pic {
    margin-top: 30px;
    margin-bottom: 20px
}

.btn-blue {
    margin-top: 40px;
    background-color: #1A237E;
    color: #fff;
    width: 28%
}

.btn-blue:hover {
    background-color: #000
}

.btn-secondary {
    margin-top: 40px;
    width: 28%
}

.fa-long-arrow-right {
    float: right;
    margin-top: 4px
}

.fa-long-arrow-left {
    float: left;
    margin-top: 4px
}

select,
input,
textarea {
    padding: 8px 15px 8px 15px;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    border: 1px solid #ccc;
    font-size: 16px;
    letter-spacing: 1px
}

select:focus,
input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #FBC02D !important;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}
.error
  {
    border: 2px solid #e52f48 !important;
  }
  .file
  {
    height: 17.991422px;
    margin-bottom: 0px;
    padding-left: 115px;
  }

.filetext
{
    position: absolute;
    top: 7px;
    left: 27px;
}
 .errorstyles2
  {
    
      color:red;
  }
  .phonecd
  {
    border: 2px solid lightgrey;
    background: #ECEFF1;
    height: 43.98284px;
    margin-top: 2px;
    padding-left: 6px;
    padding-right: 8px;
    padding-top: 7px;

  }
  .gstapplicability > img {
    width: 82%;
}
.gstimages
{
    margin-left: 36%;
}
.col-md-6 > div {
    display: flex
}

.form-group > input {
    width: 30px;
}

.form-group > input {
    width: 30px;
}


#pcode {
    color: white
}



.col-md-3.gstinfo {
background: #009688;
}



.gstlogopng {
width: 92%;
}



.gstabbreviationtext {
color: WHITE;
font-weight: 700;
padding-left: 25px;
font-size: 16pt;
}


.col-md-8 {
padding-left: 0px;
}


.gstform {
display: none;
}



.btn.btn-success.direc {
margin-left: 9px;
}


.filediv {
width: 81%;
border: 2px solid #e4e3e3;
background: white;
}
.filediv2{
    width: 64%;
    border: 2px solid #e4e3e3;
    background: white;
    }
    
    


.fa.fa-trash {
font-size: 12pt;
}
.aboutgst
{
    text-align:justify;
}

@media (max-width: 575.98px) { 
    .gstimages
    {
        margin-left: 37%;
    }
    .gstregpng
    {
        width: 47%;
    }
    .gstregpng
    {
       margin-bottom: 21px;
    }
    .filediv2 {
        width: 63%;
    }
    .filediv{
        width: 52%
    }
    .btn-blue{
        
    width: 130.991422px;

    }
    .gstlogopng
    {
        
    padding-left: 0px;
    margin-left: 28%;
    width:40%;

    }
    .gstabbreviationtext
    {
        font-size:12pt;
       
    }
    h4
    {
        font-size: 13pt;
    }

}
@media (min-width: 576px) and (max-width: 767.98px) { 
     .filediv
     {
        width: 63%;
     }
     .gstimages{
        margin-left: 26%;
    }
    .gstregpng
    {
        
        margin-bottom: 21px;

    }
    .gstlogopng
    {
        
    padding-left: 0px;
    margin-left: 28%;
    width:40%;

    }
    .gstregpng
    {
        width:50%;
    }
    .gstabbreviationtext
    {
        font-size:12pt;
    }
    h4
    {
        font-size: 13pt;
    }
 }

@media (min-width: 768px) and (max-width: 991.98px) {
    .form-group {
        display: contents;
    }
    .col-md-6
    {
        max-width:100%;
    }
    .gstregpng
    {
        width:50%;
    }
    .filediv{
        width: 64%;
    }
    .btn-blue
    {
        
     width: 133.991422px;

    }
    h4
    {
        font-size: 13pt;
    }
    .gstinfo
    {
        
     padding-top: 11% !important;
 
    }
    .gstabbreviationtext
    {
        font-size:12pt;
    }
    .col-md-8
    {
        text-align: justify;
        font-size: 9pt;
    }
    
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .upbtn
    {
        
    width: 121.991422px;

    }
    label
    {
        
    font-size: 9pt;
    font-weight:600;

    }
   .gstinfo
   {
       
    padding-top: 11% !important;

   }
   .gstabbreviationtext
   {
       font-size:12pt;
   }
   .goodtext
   {
       
    margin-bottom: 25px;

   }
   h4
{
    font-size: 13pt;
}
.phonecd
{
    height:40px;
}
.gstregpng
{
    
    width: 35%;

}
.filediv{
    width:75%
}
.filediv2{
    width: 49%
}
select
{
    font-size: 10px;
}
.filetext
{
    font-size: 10pt;
}
 }


@media (min-width: 1200px) { 
.upbtn
{
    
    width: 119.991422px;

}
    select
{
    font-size: 14px;
}
    label
    {
        
    font-size: 11pt;

    }
   .gstinfo
   {
       
    padding-top: 11% !important;

   }
   .gstabbreviationtext
   {
       font-size:12pt;
   }
   .filediv{
       width:80%
   }
.filediv2{
    width: 60%
}
h4
{
    font-size: 13pt;
}
.phonecd
{
    height:40px;
}
 }