<ngx-spinner bdOpacity=0.9 bdColor="rgba(255,255,255,0.7)" size="medium" color="#342c2c" type="ball-atom"
[fullScreen]="true">
<p style="color: black"> Loading... </p>
</ngx-spinner>
<div class="container" style="background:white">
    <div class="row">
        <div class="col-md-5" style="background: antiquewhite;">
            <h1 >ESI REGISTRATION</h1>
            <div><img src="../../../../assets/images/cooperateservice/ESILogo.png" style="margin-left: 26%;WIDTH: 48%;margin-top: 5%;"/></div>
            <h6 class="mt-3 text-center">What is ESI? </h6>
            <p class="esiregtext">Employees’ State Insurance Corporation of India is a multidimensional social system tailored to provide socio-economic protection to worker population and immediate dependent or family covered under the scheme. Besides full medical care for self and dependents, that is admissible from day one of insurable employment, the insured persons are also entitled to a variety of cash benefits in times of physical distress due to sickness, temporary or permanent disablement etc. resulting in loss of earning capacity, the confinement in respect of insured women, dependents of insured persons who die in industrial accidents or because of employment injury or occupational hazard are entitled to a monthly pension called the dependents benefit.</p>
        </div>
        <div class="col-md-7">
            <div class="d-flex pt-3 pr-2">
                <p class="ml-auto mb-0"></p>
            </div>
            <div class="d-flex pr-2">
                <p class="ml-auto"></p>
            </div>
            <form [formGroup]="esiregistration">
                <p>Our charges for Registration of ESI are 6000/- Excluding GST, to apply please fill the following details </p>
                <div class="form-group row"> 
                    <div class="col-md-6">
                       <label >Name of the Company*</label> 
                       <div class="input-group my-3" [ngClass]="{'error':esiregistration.controls.nameproof.invalid && esiregistration.controls.nameproof.touched }" >
                            <div class="filediv">
                               <input type="file" id="file1"  style="opacity:0;" formControlName="nameproof" (change)="onSelectedfile1($event)" class="form-control"   [popover]="nameproof" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"  >
                               <span class="upldtext1">Upload here</span>
                           </div>
                            <div class="input-group-append">
                              <button type="button" (click)="logofile1()" class="btn btn-primary browse">Upload proof</button>
                          </div>
                        </div>
                       <popover-content #nameproof [closeOnClickOutside]="true" [style.display]="esiregistration.controls.nameproof.invalid && esiregistration.controls.nameproof.touched ? 'block' : 'none'">
                       <validation-messages [control]="esiregistration.controls.nameproof"></validation-messages>
                    </popover-content>
                    </div>
                    <div class="col-md-6">
                       <label >Address of the company*</label> 
                       <div class="input-group my-3"  [ngClass]="{'error':esiregistration.controls.addressproof.invalid && esiregistration.controls.addressproof.touched }" >
                        <div class="filediv"> 
                          <input type="file"  id="file2"  style="opacity:0;" formControlName="addressproof" (change)="onSelectedfile2($event)" class="form-control"  [popover]="addressproof" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"  >
                          <span class="upldtext2">Upload here</span>
                        </div>
                          <div class="input-group-append">
                           <button type="button" (click)="logofile2()" class="btn btn-primary browse">Upload proof</button>
                       </div>
                        </div>
                        <popover-content #addressproof [closeOnClickOutside]="true" [style.display]="esiregistration.controls.addressproof.invalid && esiregistration.controls.addressproof.touched ? 'block' : 'none'">
                       <validation-messages [control]="esiregistration.controls.addressproof"></validation-messages>
                    </popover-content>
                   </div>
               </div>
                <div class="form-group row"> 
                    <div class="col-md-6">
                       <label >Email Address*</label> 
                       <input type="text" formControlName="emailid" class="form-control"  [ngClass]="{'error':esiregistration.controls.emailid.invalid && esiregistration.controls.emailid.touched }"   [popover]="emailid" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" >
                       <popover-content #emailid [closeOnClickOutside]="true" [style.display]="esiregistration.controls.emailid.invalid && esiregistration.controls.emailid.touched ? 'block' : 'none'">
                       <validation-messages [control]="esiregistration.controls.emailid"></validation-messages>
                    </popover-content>
                    </div>
                    <div class="col-md-6">
                       <label >Company PAN*</label> 
                       <input type="text" formControlName="companypan" class="form-control"  [ngClass]="{'error':esiregistration.controls.companypan.invalid && esiregistration.controls.companypan.touched }"   [popover]="companypan" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"  >
                       <popover-content #companypan [closeOnClickOutside]="true" [style.display]="esiregistration.controls.companypan.invalid && esiregistration.controls.companypan.touched ? 'block' : 'none'">
                       <validation-messages [control]="esiregistration.controls.companypan"></validation-messages>
                    </popover-content>
                   </div>
               </div>
               <div class="form-group row"> 
                <div class="col-md-6">
                   <label >Total Number of Employeess*</label> 
                   <input type="text" formControlName="empstrength" class="form-control" [ngClass]="{'error':esiregistration.controls.empstrength.invalid && esiregistration.controls.empstrength.touched }"   [popover]="empstrength" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"   >
                   <popover-content #empstrength [closeOnClickOutside]="true" [style.display]="esiregistration.controls.empstrength.invalid && esiregistration.controls.empstrength.touched ? 'block' : 'none'">
                   <validation-messages [control]="esiregistration.controls.empstrength"></validation-messages>
                </popover-content>
                </div>
                <div class="col-md-6">
                   <label >Total Number of Men*</label> 
                   <input type="text" formControlName="menstrength" class="form-control" [ngClass]="{'error':esiregistration.controls.menstrength.invalid && esiregistration.controls.menstrength.touched }"   [popover]="menstrength" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"  >
                   <popover-content #menstrength [closeOnClickOutside]="true" [style.display]="esiregistration.controls.menstrength.invalid && esiregistration.controls.menstrength.touched ? 'block' : 'none'">
                   <validation-messages [control]="esiregistration.controls.menstrength"></validation-messages>
                </popover-content>
               </div>
                </div>
                <div class="form-group row"> 
                    <div class="col-md-6">
                       <label >Total Number of Women*</label> 
                       <input type="text" formControlName="womenstrength" class="form-control" [ngClass]="{'error':esiregistration.controls.womenstrength.invalid && esiregistration.controls.womenstrength.touched }"   [popover]="womenstrength" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"  >
                       <popover-content #womenstrength [closeOnClickOutside]="true" [style.display]="esiregistration.controls.womenstrength.invalid && esiregistration.controls.womenstrength.touched ? 'block' : 'none'">
                       <validation-messages [control]="esiregistration.controls.womenstrength"></validation-messages>
                    </popover-content>
                    </div>
                    <div class="col-md-6">
                       <label >Bank Account Number*</label> 
                       <input type="text" formControlName="bankaccountnumber" class="form-control" [ngClass]="{'error':esiregistration.controls.bankaccountnumber.invalid && esiregistration.controls.bankaccountnumber.touched }"   [popover]="bankaccountnumber" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"  >
                       <popover-content #bankaccountnumber [closeOnClickOutside]="true" [style.display]="esiregistration.controls.bankaccountnumber.invalid && esiregistration.controls.bankaccountnumber.touched ? 'block' : 'none'">
                       <validation-messages [control]="esiregistration.controls.bankaccountnumber"></validation-messages>
                    </popover-content>
                   </div>
                </div>
                <div class="form-group row"> 
                    <div class="col-md-6">
                       <label >Bank Address*</label> 
                       <input type="text" formControlName="bankaddress" class="form-control"  [ngClass]="{'error':esiregistration.controls.bankaddress.invalid && esiregistration.controls.bankaddress.touched }"   [popover]="bankaddress" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"  >
                       <popover-content #bankaddress [closeOnClickOutside]="true" [style.display]="esiregistration.controls.bankaddress.invalid && esiregistration.controls.bankaddress.touched ? 'block' : 'none'">
                       <validation-messages [control]="esiregistration.controls.bankaddress"></validation-messages>
                    </popover-content>
                    </div>
                    <div class="col-md-6">
                       <label >Bank IFSC code*</label> 
                       <input type="text" formControlName="bankifsc" class="form-control" [ngClass]="{'error':esiregistration.controls.bankifsc.invalid && esiregistration.controls.bankifsc.touched }"   [popover]="bankifsc" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"  >
                       <popover-content #bankifsc [closeOnClickOutside]="true" [style.display]="esiregistration.controls.bankifsc.invalid && esiregistration.controls.bankifsc.touched ? 'block' : 'none'">
                       <validation-messages [control]="esiregistration.controls.bankifsc"></validation-messages>
                    </popover-content>
                    </div>
                </div>
                <div class="form-group row"> 
                    <div class="col-md-6">
                       <label >Upload Employees Details*(.xlsx)</label> 
                       <div class="input-group my-3" [ngClass]="{'error':esiregistration.controls.empfile.invalid && esiregistration.controls.empfile.touched }" >
                        <div class="filediv">
                           <input type="file"  id="file3" style="opacity:0;" formControlName="empfile" (change)="onSelectedfile3($event)" class="form-control"     [popover]="empfile" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" >
                           <span class="upldtext3">Upload here</span>
                        </div>
                        <div class="input-group-append">
                           <button type="button" (click)="logofile3()" class="btn btn-primary browse">Upload here</button>
                       </div>
                       <span style="font-size: 9pt;">Click here to download - </span><a style="font-size: 9pt;" href="http://www.famposo.com/pathsoftlaunch/documents/Esidoc/sampledocs/ESI_ Sample Employees List.xlsx"  download> Samplefile.xlsx</a>
                        </div>
                         <popover-content #empfile [closeOnClickOutside]="true" [style.display]="esiregistration.controls.empfile.invalid && esiregistration.controls.empfile.touched ? 'block' : 'none'">
                       <validation-messages [control]="esiregistration.controls.empfile"></validation-messages>
                    </popover-content>
                    </div>
                    <div class="col-md-6">
                       <label >Director PAN* </label> 
                       <div class="input-group my-3" [ngClass]="{'error':esiregistration.controls.directorpan.invalid && esiregistration.controls.directorpan.touched }" >
                        <div class="filediv">
                        <input type="file" id="file4" style="opacity:0;" formControlName="directorpan" (change)="onSelectedfile4($event)" class="form-control"    [popover]="directorpan" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"  >
                        <span class="upldtext4">Upload here</span>  
                     </div>
                        <div class="input-group-append">
                           <button type="button" (click)="logofile4()" class="btn btn-primary browse">Upload proof</button>
                       </div>
                          
                        </div>
                          <popover-content #directorpan [closeOnClickOutside]="true" [style.display]="esiregistration.controls.directorpan.invalid && esiregistration.controls.directorpan.touched ? 'block' : 'none'">
                       <validation-messages [control]="esiregistration.controls.directorpan"></validation-messages>
                    </popover-content>
                    </div>
                </div>
                <div class="form-group row"> 
                    <div class="col-md-6">
                       <label >Director aadhar*</label> 
                       <div class="input-group my-3" [ngClass]="{'error':esiregistration.controls.directoraadhar.invalid && esiregistration.controls.directoraadhar.touched }" >
                        <div class="filediv">
                        <input type="file" id="file5" style="opacity:0;"  formControlName="directoraadhar" (change)="onSelectedfile5($event)" class="form-control"   [popover]="directoraadhar" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"  >
                        <span class="upldtext5">Upload here</span>   
                     </div>
                        <div class="input-group-append">
                           <button type="button" (click)="logofile5()" class="btn btn-primary browse">Upload proof</button>
                       </div>
                        
                        </div>
                          <popover-content #directoraadhar [closeOnClickOutside]="true" [style.display]="esiregistration.controls.directoraadhar.invalid && esiregistration.controls.directoraadhar.touched ? 'block' : 'none'">
                       <validation-messages [control]="esiregistration.controls.directoraadhar"></validation-messages>
                    </popover-content>
                    </div>
                    <div class="col-md-6">
                       <label >Director photo* </label> 
                       <div class="input-group my-3"  [ngClass]="{'error':esiregistration.controls.directorphoto.invalid && esiregistration.controls.directorphoto.touched }">
                        <div class="filediv"> 
                        <input type="file" id="file6" style="opacity:0;" formControlName="directorphoto" (change)="onSelectedfile6($event)" class="form-control"   [popover]="directorphoto" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"  >
                        <span class="upldtext6">Upload here</span>  
                     </div>
                        <div class="input-group-append">
                           <button type="button" (click)="logofile6()" class="btn btn-primary browse">Upload here</button>
                       </div>
                      
                        </div>  
                        <popover-content #directorphoto [closeOnClickOutside]="true" [style.display]="esiregistration.controls.directorphoto.invalid && esiregistration.controls.directorphoto.touched ? 'block' : 'none'">
                       <validation-messages [control]="esiregistration.controls.directorphoto"></validation-messages>
                    </popover-content>
                    </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                      <label class="form-control-label">Country  :</label>
                      <select formControlName="country" class="form-control"  (change)="selectChangeCountry($event)" [ngClass]="{'error':esiregistration.controls.country.invalid && esiregistration.controls.country.touched }"   [popover]="counte" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" >
                          <option value="" [selected]=true>Select country</option>
                          <option *ngFor="let country of country" [value]="country.country" id="countryselector"
                          [attr.data-somedata]="country.id">{{country.country}}</option>
                    </select>
                    <popover-content #counte [closeOnClickOutside]="true"  [style.display]="esiregistration.controls.country.invalid && esiregistration.controls.country.touched ? 'block' : 'none'">  
                       <validation-messages [control]="esiregistration.controls.country"></validation-messages>
                    </popover-content>
                  </div>
                  <div class="col-md-6">
                      <label class="form-control-label">State :</label>
                      <select placeholder="Select your State/ Province" formControlName="state" (change)="selectChangeStates($event)"  class="form-control" [ngClass]="{'error':esiregistration.controls.state.invalid && esiregistration.controls.state.touched }"   [popover]="state" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" >
                          <option value="" [selected]=true>Select state</option>
                          <option *ngFor="let states of states" [value]="states.states" [attr.data-somedata]="states.id">
                              {{states.states}}</option>
                          </select>
                          <popover-content #state [closeOnClickOutside]="true"  [style.display]="esiregistration.controls.state.invalid && esiregistration.controls.state.touched ? 'block' : 'none'">   
                              <validation-messages [control]="esiregistration.controls.state"></validation-messages>
                          </popover-content>
                  </div>
              </div>
              <span id="pcode" style="color:white"  *ngFor="let phonecode of phonecode">{{phonecode.country_codes}}</span>
                <div class="form-group row"> 
                    <div class="col-md-6">
                       <label >Personal Mobile Number*</label> 
                       <div style="display:flex">
                           <span class="phonecd"  *ngFor="let phonecode of phonecode">+{{phonecode.phonecode}}</span>
                           <input type="text"  formControlName="mobileno" class="form-control" (mouseout)="PhoneValidator()"  [ngClass]="{'error':esiregistration.controls.mobileno.invalid && esiregistration.controls.mobileno.touched }"   [popover]="mobileno" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"  >
                        </div>     
                        <div class="errorstyles2" *ngIf=" invalidPhoneLength">
                           <i class="fa fa-exclamation-circle"></i>Invalid mobile no
                       </div>
                      <popover-content #mobileno [closeOnClickOutside]="true" [style.display]="esiregistration.controls.mobileno.invalid && esiregistration.controls.mobileno.touched ? 'block' : 'none'">
                       <validation-messages [control]="esiregistration.controls.mobileno"></validation-messages>
                    </popover-content>
                    </div>
                    <div class="col-md-6">
                        <label >Contact no*</label> 
                        <div style="display:flex">
                             <span class="phonecd"  *ngFor="let phonecode of phonecode">+{{phonecode.phonecode}}</span>
                             <input type="text"  formControlName="contactno" class="form-control" (mouseout)="PhoneValidator1()"  [ngClass]="{'error':esiregistration.controls.contactno.invalid && esiregistration.controls.contactno.touched }"   [popover]="contactno" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"  >
                        </div>     
                        <div class="errorstyles2" *ngIf=" invalidPhoneLength1">
                           <i class="fa fa-exclamation-circle"></i>Invalid mobile no
                        </div>     
                        <popover-content #contactno [closeOnClickOutside]="true" [style.display]="esiregistration.controls.contactno.invalid && esiregistration.controls.contactno.touched ? 'block' : 'none'">
                        <validation-messages [control]="esiregistration.controls.contactno"></validation-messages>
                    </popover-content> 
                     </div>
                    
                </div>
                <div>
                    <button type="button" class="btn btn-block btn-primary submitbtn" (click)="submitandpay()">Submit and pay</button>
                </div>
                <p class="terms mt-4">I hereby declare that information provided in the online registration form is true to the best of my knowledge and I accept terms, disclaimer, and policies by clicking “Submit & Pay” button.</p>
            </form>
        </div>
    </div>
</div>