<div class="col-md-12 slogon">
    <marquee direction="left">
        <p><span style="font-weight: 500;">Global Portal to unlock the wealth in Rural Markets</span></p>
    </marquee>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="wrapper">
            <div class="carousel">
                <div class="inner">
                    <a href="https://www.b2bmarketingexpo.co.uk/"  target="_blank">
                        <div class="slide active">
                        </div>
                    </a>
                    <a href="https://www.b2bmarketingexpo.co.uk/" target="_blank">
                        <div class="slide">
                        </div>
                    </a>
                    <a href="https://www.b2bmarketingexpo.co.uk/" target="_blank">
                        <div class="slide">
                        </div>
                    </a>
                </div>
                <div class="arrow arrow-left"></div>
                <div class="arrow arrow-right"></div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="wrapper1">
            <div class="carousel1">
                <div class="inner1">
                    <div class="slide1 active1">
                    </div>
                    <div class="slide1">
                    </div>
                    <div class="slide1">
                    </div>
                    <div class="slide1">
                    </div>
                    <div class="slide1">
                    </div>
                    <div class="slide1">
                    </div>
                    <div class="slide1">
                    </div>
                    <div class="slide1">
                    </div>
                </div>
                <div class="arrow1 arrow-left1"></div>
                <div class="arrow1 arrow-right1"></div>
            </div>
        </div>
    </div>
</div>
<div class="row pt-2 tb-1">
    <div class="col-md-12">
        <div class="block-policy">
            <ul class="text-center">
                <li>
                    <span class="dot"><i class="fa fa-pencil-square-o fa-2x icon-policy"
                            aria-hidden="true"></i></span><br>
                    <span class="title-policy">State Your Need</span>
                </li>
                <li>
                    <span class="dot"><i class="fa fa-users fa-2x icon-policy" aria-hidden="true"></i></span><br>
                    <span class="title-policy">Connect to Verified Sellers</span>
                </li>
                <li>
                    <span class="dot"><i class="fa fa-shield fa-2x icon-policy" aria-hidden="true"></i></span><br>
                    <span class="title-policy">Enable Payment Protection</span>
                </li>
                <li>
                    <span class="dot"><i class="fa fa-handshake-o fa-2x icon-policy" aria-hidden="true"></i></span><br>
                    <span class="title-policy">Confirm Deal</span>
                </li>
            </ul>
        </div>
    </div>
</div>