<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Change Password</h3>
		<div class="card-text">
			<form [formGroup]="changepassform">
				<div class="form-group">
					<label for="newpassword">New Password</label>
                    <input type="password"  formControlName="newpassword" class="form-control"   [popover]="newpassword" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" [ngClass]="{'error':changepassform.get('newpassword').invalid && changepassform.get('newpassword').touched}">
                    <span  style="font-size: 7pt;position:relative;top: -3pt;">Enter a combinations of at least 8 or more characters with a mix of letters, numbers & symbols</span>
                    <popover-content #newpassword [closeOnClickOutside]="true"  [style.display]="changepassform.get('newpassword').invalid && changepassform.get('newpassword').touched ? 'block' : 'none'">
                       <validation-messages [control]="changepassform.controls.newpassword"></validation-messages>
                    </popover-content>
				</div>
				<div class="form-group pt-2">
					<label for="confirmpassword">Confirm Password</label>
                    <input type="password"  formControlName="confirmpassword" class="form-control"  [popover]="confirmpassword" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" [ngClass]="{'error':changepassform.get('confirmpassword').invalid && changepassform.get('confirmpassword').touched}">
                    <popover-content #confirmpassword [closeOnClickOutside]="true"  [style.display]="changepassform.get('confirmpassword').invalid && changepassform.get('confirmpassword').touched ? 'block' : 'none'">   
                       <validation-messages [control]="changepassform.controls.confirmpassword"></validation-messages>
                    </popover-content>
				</div>
				<button type="submit" (click)="submit()" class="sub-password hvr-bounce-to-right btn-block">Change Password</button>
			</form>
		</div>
	</div>
</div>
</div>