<body>
    <div class="wrap" *ngIf="isempty">
    
        <header class="cart-header cf">
          <strong>My whishlist</strong>
          
        </header>
     
        <div class="cart-table">
          <ul>
      
      <!-- begin simple product -->
            <li class="item"  *ngFor="let mycart of mycart">
              <div class="item-main cf">
                <div class="item-block ib-info cf"  [routerLink]="['/productdetailview',mycart.product_id]">
                  <img class="product-img" src="{{mycart.product_img1}}" />
                  <div class="ib-info-meta">
                    <span class="title">{{mycart.product_name}}</span>
                    <span class="itemno">Sold by {{mycart.company_name}}</span>
                    <span class="tp-price"><i class="fa fa-inr" aria-hidden="true"></i> {{mycart.price}}</span>
                  </div>
                </div>
                
                <div class="item-block ib-total-price">
                 
                  <div>
                      <span class="btn-delete btn-danger" (click)="removefavourite(mycart.product_id)" style="color:white"><i class="fa fa-trash"></i></span>
                  </div>
                </div>         
              </div>
              <div class="item-foot cf">
                <div class="box">
                  
                  </div>
              </div>
            </li>
      <!-- end simple product -->
      
          </ul>
        </div>
        <div class="sub-table cf">
         <div class="summary-block">       
           
          </div>
       
        </div>
        
       
      </div>
      <div class="wrap" *ngIf="!isempty">
        <header class="cart-header cf">
          <strong>My wishlist</strong>
          
        </header>
     
        <div class="cart-table">
          <img class="logo-img"  src="https://www.famposo.com/testsoftlaunch//assets/images/product/favouritempty.png">
          <div>
             <button class="btn btn-primary addfavbtn"  [routerLink]="['/productlisting']">Add favourite</button>
            </div>
        </div>
      </div>
    </body>