<footer class="mainfooter" role="contentinfo">
	<div class="footer-middle">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<!--Column1-->
					<h5>Connect with Us</h5>
					<ul class="social-network social-circle">
						<li>
							<a target="_blank" href="https://www.facebook.com/FAMPOSO/" class="icoFacebook"
								title="Facebook">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a target="_blank" href="https://twitter.com/FamposoL" class="icoTwitter" title="Twitter">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a target="_blank"
								href="https://www.youtube.com/channel/UCIYrTP0eWc3dZ2I3yDitLkg?view_as=subscriber"
								class="icoYoutube" title="Youtube">
								<i class="fa fa-youtube"></i>
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/famposoadmin/" target="_blank" class="icoLinkedin" title="Linkedin">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6">
					<!--Column2-->
					<div class="footer-pad">
						<h5>Get to Know Us</h5>
						<ul class="list-unstyled">
							<li>
								<a [routerLink]="['/aboutus']">About Us</a>
							</li>
							<li>
								<a [routerLink]="['/contactus']">Contact Us</a>
							</li>
							<li>
								<a [routerLink]="['/register','signup']">Join Free</a>
							</li>
							<li>
								<a [routerLink]="['/register','login']">Login</a>
							</li>
							<li>
								<a target="_blank" href="//www.famposo.com/preregistration">Newsletter</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<!--Column3-->
					<div class="footer-pad">
						<h5>Corporate Office</h5>
						<ul class="list-unstyled">
							<li>Ariyankuppam</li>
							<li>Pincode - 605007</li>
							<li>Puducherry - India.</li>
							<li>
								<a href="#" style="color: #17e8e8;">
									<i class="fa fa-envelope"></i> contactus@famposo.com
								</a>
							</li>
							<li>
								<a href="#" style="color: #17e8e8;">
									<i class="fa fa-phone"></i> +91 95005 59800
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<!--Column4-->
					<div class="footer-pad">
						<h5>Main Office</h5>
						<ul class="list-unstyled">
							<li>12 Marina Boulevard, Tower 3,</li>
							<li>#17-01 Marina Bay Financial Centre,</li>
							<li>Pincode - 018982</li>
							<li>Singapore.</li>
							<li>
								<a href="#" style="color: #17e8e8;">
									<i class="fa fa-envelope"></i> contactus@famposo.com
								</a>
							</li>
							<li>
								<a href="#"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 copy">
					<p class="text-center">&copy; Copyright 2020 -
						<a href="#">Famposo.com</a> All rights reserved.
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
