<div class="left-half">
    <div class="our-famposo text-center">
        <p class="title">OUR FAMPOSO</p>
        <p class="title1">Will Connect You</p>
        <img class="our-famposo-img" src="assets/images/body-side/famposo.jpg" height="200" width="400">
    </div>
    <div class="card rfq-form">
        <div class="card-header text-center rfq-header">
            <h6>Post to FAMPOSO SME Your Buying Renting Needs/Request for Quote</h6>
        </div>
        <div class="card-body">
            <form [formGroup]="RfqFormMain">
                <div class="row">
                    <div class="col-12 rfq-radio text-center">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" formControlName="rfqtype" id="customRadioInline1" value="BUY"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">Buy</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" formControlName="rfqtype" id="customRadioInline2" value="RENT"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">Rent</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" formControlName="rfqtype" id="customRadioInline3" value="OPS"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline3">OpenSale</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" formControlName="rfqtype" id="customRadioInline4" value="RFQ"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline4">Request</label>
                        </div>
                    </div>
                    <div class="col-md-12 pt-2">
                        <label class="custom-select-label">Mode</label>
                        <select class="form-control custom-select my-select text-center" formControlName="rfqmodetype"
                            (change)="selectmodeHandler($event)" [popover]="rfqmodetype" popoverPlacement="top"
                            [popoverCloseOnMouseOutside]="false" [ngClass]="{'error':RfqFormMain.controls.rfqmodetype.invalid && RfqFormMain.controls.rfqmodetype.touched }">
                            <option value="" [selected]=true>Select mode</option>
                            <option value="post">Post New</option>
                            <option value="edit">Edit RFQ</option>
                            <option value="delete">Delete RFQ</option>
                        </select>
                        <popover-content #rfqmodetype [closeOnClickOutside]="true"
                            [style.display]="RfqFormMain.controls.rfqmodetype.invalid && RfqFormMain.controls.rfqmodetype.touched ? 'block' : 'none'">
                            <validation-messages [control]="RfqFormMain.controls.rfqmodetype"></validation-messages>
                        </popover-content>

                    </div>
                    <div class="col-md-6 pt-2" *ngIf="show_name_email">
                        <label class="custom-select-label">Name</label>
                        <input class="form-control my-select" formControlName="customer_name"
                            placeholder="Enter your name" [popover]="name" popoverPlacement="top"
                            [popoverCloseOnMouseOutside]="false" [ngClass]="{'error':RfqFormMain.controls.customer_name.invalid && RfqFormMain.controls.customer_name.touched }">
                        <popover-content #name [closeOnClickOutside]="true"
                            [style.display]="RfqFormMain.controls.customer_name.invalid && RfqFormMain.controls.customer_name.touched ? 'block' : 'none'">
                            <validation-messages [control]="RfqFormMain.controls.customer_name"></validation-messages>
                        </popover-content>

                    </div>
                    <div class="col-md-6 pt-2" *ngIf="show_name_email">
                        <label class="custom-select-label">Email</label>
                        <input class="form-control my-select" formControlName="email" placeholder="Enter your email"
                            [popover]="email" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" [ngClass]="{'error':RfqFormMain.controls.email.invalid && RfqFormMain.controls.email.touched }">
                        <popover-content #email [closeOnClickOutside]="true"
                            [style.display]="RfqFormMain.controls.email.invalid && RfqFormMain.controls.email.touched ? 'block' : 'none'">
                            <validation-messages [control]="RfqFormMain.controls.email"></validation-messages>
                        </popover-content>

                    </div>
                    <div class="col-md-12 pt-4" *ngIf="show_referencebox">
                        <label class="custom-select-label">Reference no</label>
                        <input class="form-control my-select" formControlName="reference_no"
                            placeholder="Enter your reference no" [popover]="reference_no"
       popoverPlacement=" top" [popoverCloseOnMouseOutside]="false" [ngClass]="{'error':RfqFormMain.controls.reference_no.invalid && RfqFormMain.controls.reference_no.touched }">
                        <popover-content #reference_no [closeOnClickOutside]="true"
                            [style.display]="RfqFormMain.controls.reference_no.invalid && RfqFormMain.controls.reference_no.touched ? 'block' : 'none'">
                            <validation-messages [control]="RfqFormMain.controls.reference_no"></validation-messages>
                        </popover-content>

                    </div>
                    <div class="col-md-12 pt-4 text-center">
                        <re-captcha style="display: inline-block;" (resolved)="resolved($event)" 
                            siteKey="6LethuEUAAAAAA-6GTP6QohQ-RjY8DpvcY8wcK9O" formControlName="recaptchaReactive">
                        </re-captcha>
                    </div>
                    <div class="col-md-12 text-center rfq-term-div">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="form-control custom-control-input" formControlName="agree"
                                (change)="toggleEditable($event)" id="eg">
                            <label class="custom-control-label rfq-checkbox" for="eg"> I Agree to the</label> <a
                                href="#" data-toggle="modal" data-target="#policy" class="text-primary rfq-term">Terms &
                                private Policy</a>

                        </div>
                    </div>
                    <div class="col-md-12 pt-4 text-center">
                        <button class="btn my-select rfq-btn" type="submit" (click)="rfqdata()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12 text-center ad-hd">
        <h4>World Today</h4>
        <div class="pt-3">
            <video class="testimonialsvideoframe" controls>
                <source src="assets/images/Advertisementvideo/swarna.mp4" class="testimonialsvideoframe"
                    type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <video class="testimonialsvideoframe" controls>
                <source src="assets/images/Advertisementvideo/swarna.mp4" class="testimonialsvideoframe"
                    type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>
</div>