<body>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <div class="thank-you-pop">
                            <img src="../../../../assets/images/payment/warning.png" alt="">
                            <h1>Oops! Something went wrong.</h1>
                            <p>While trying to reserve money from your account</p>
                            <!-- <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->
                            <button [routerLink]="['/subscription']" type="button" class="btn btn-info"> <i
                                    class="fa fa-refresh" aria-hidden="true"></i>
                                Try again</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>