<div id="clients">
    <h4 class="text-center" style="margin-top: -60pt;">Our Registered SME's</h4>
    <div class="clients-wrap">
        <ul id="clients-list" class="clearfix">
            <li><img src="assets/images/client/client1.png"></li>
            <li><img src="assets/images/client/client2.png"></li>
            <li><img src="assets/images/client/client3.png"></li>
            <li><img src="assets/images/client/client4.png"></li>
            <li><img src="assets/images/client/client5.png"></li>
            <li><img src="assets/images/client/client7.png"></li>
            <li><img src="assets/images/client/client8.png"></li>
            <li><img src="assets/images/client/client11.png"></li>
            <li><img src="assets/images/client/client12.png"></li>
            <li><img src="assets/images/client/client13.png"></li>
            <li><img src="assets/images/client/client14.png"></li>
        </ul>
    </div>
</div>