
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}
textarea
{
    
    border-radius: 15px;

}
input
{
    
    border-radius: 15px;

}
.back:hover {
    color: #682773;
    cursor: pointer
}
label{
    font-weight:500;
}
span{
    font-weight:500;
}
.error
  {
    border: 2px solid #e52f48 !important;
  }
  select
  {
    border-radius: 14px;
  }
  .upldtext1,.upldtext2,.upldtext3
 {
     
    position: absolute;
    
    top: 11px;
    left: 13px;

 }
.browae
{
    border-radius: 0px 10px 10px 0px;
}
.errorstyles2
{
  
    color:red;
}
.phonecd
{
    
    position: absolute;
    border: 1px solid lightgrey;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 8px;
    padding-bottom: 10px;
    border-radius: 14px 0px 0px 17px;

}
.digidiv
{
    padding-bottom: 6px;
}
.digitext
{
    font-weight: 600;
    color: #374450;
}
.filediv
{
    width: 76%;
    border: 2px solid #e4e3e3;
    background:white;
    border-radius: 10px 0px 0px 10px;
}
.browse
{
    padding-left: 14px;
}
.submitbtn
{
    margin-left: 41%;
    margin-top: 6%;
}

@media (max-width: 575.98px) {
    .submitbtn{
        margin-left: 24%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .filediv
    {
        width: 82%;
    }
    .submitbtn 
    {
        margin-left: 30%;
    }
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    .filediv
    {
        width: 60%;
    }
    .submitbtn
    {
        margin-left: 25%;
    }
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .filediv
    {
        width: 70%;
    }
    .submitbtn
    {
        margin-left: 30%;
    }
 }


@media (min-width: 1200px) {
    .submitbtn
    {
        margin-left: 34%;
        margin-top: 6%;
    }
 }