<div class="container rounded bg-white mt-5" style="margin-bottom: 38px;">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img  src="../../../../assets/images/cooperateservice/digitalsignregister.png" width="70%"></div>
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img  src="../../../../assets/images/cooperateservice/digitalsign.png" width="100%"></div>
                <div style="padding-bottom: 6px;">
                    <span style="font-weight: 600;color: #374450;">Digital Signature - Digital signatures are like electronic “fingerprints.” In the form of a coded message, the digital signature securely associates a signer with a document in a recorded transaction.</span>
                </div>
                <div style="padding-bottom: 6px;">
                    <span style="font-weight: 600;color: #374450;"> Note:  1. Name should be as per PAN data </span>
                </div>
                <div style="padding-bottom: 6px;">
                    <span style="font-weight: 600;color: #374450;">  2.	For class 3 Signature </span>
                </div>
                <div style="padding-bottom: 6px;">
                    <span style="font-weight: 600;color: #374450;">    Our Class 2 Digital Signature charges are Rs.1500/- Including epass Token with 2 years validity.  to apply for the Digital Sign please fill the following details  </span>
                </div>
        </div>
        <div class="col-md-8">
           
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back" style="display:none">
                        <h6>To apply for digital sign please fill in the following details</h6>
                    </div>
                </div>
                <div class="row mt-2" >
                    <div class="col-md-6"><label>Common Name</label><input type="text" class="form-control"></div>
                    <div class="col-md-6"><label>Date of Birth</label><input type="text" class="form-control"  ></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label>Organization</label><input type="text" class="form-control" ></div>
                    <div class="col-md-6"><label>Deparment</label><input type="text" class="form-control" ></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label>Mobile No</label><input type="text" class="form-control" ></div>
                    <div class="col-md-6"><label>Locality</label><input type="text" class="form-control" ></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label>Pan</label><input type="text" class="form-control"  ></div>
                    <div class="col-md-6"><label>State</label><input type="text" class="form-control" ></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label>Aadhar No</label><input type="text" class="form-control"  ></div>
                    <div class="col-md-6"><label>Country</label><input type="text" class="form-control" ></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label>Address</label><textarea class="form-control"></textarea></div>
                   
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 18px;">
                    <div class="d-flex flex-row align-items-center back">
                        <h6>Document to be uploaded</h6>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label>Photo</label><input type="file" class="form-control"  ></div>
                    <div class="col-md-6"><label>PAN Card</label><input type="file" class="form-control"  ></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label>Aadhar card</label><input type="file" class="form-control"  >
                    </div>
                    <div class="col-md-6" style="
                    padding-top: 39px;
                    margin-right: 0px;
                ">
                        <input type="checkbox" style="
                        margin-right: 9px;
                    "/><span>Include EmailID in ceritificate</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                      <input type="checkbox" />
                   
                        <span> I hereby declare that information provided in the online registration form is true to the best of my knowledge and I accept terms, disclaimer, and policies by clicking “Submit & Pay” button.</span>
                    </div>
               </div>
                <div style="
                margin-left: 41%;
                margin-top: 6%;
            "><button class="btn btn-success" type="button">Submit and pay</button></div>
            </div>
        </div>
    </div>
</div>