<ngx-spinner bdOpacity=0.9 bdColor="rgba(255,255,255,0.7)" size="medium" color="#342c2c" type="ball-atom"
[fullScreen]="true">
<p style="color: black"> Loading... </p>
</ngx-spinner>

<div class="container">
    <div class="card companyincinfo">
        <div class="card-body">
          
            <img src="../../../../assets/images/cooperateservice/company-formation.png" class="headerlogo" alt="header.png"/>
            <h1>Company Registration</h1>
            <div class="row">
                <div class="col-md-6">
                    <img src="../../../../assets/images/cooperateservice/step1.png" alt="step1.png"/>
                    <p class="companyincdetail">In case one of the shareholders or subscribers to the MOA and AOA is a corporate entity (Company, LLP, etc.,) then the certificate of incorporation must be attached along with the resolution passed by the entity to subscribe to the shares of the company under incorporation</p>         
                   
                </div>
                <div class="col-md-6">
                     <p>Dear Customer, Our charges for company Registration is 18000/-  Excluding GST.</p>
                     <p>Documents required</p>
                     <p>Documents are of utmost importance in the process. In addition to the identity proof, the directors must submit residence proof that is less than three months old.</p>
                     <p>Companies registered in India must mandatorily maintain a registered office. In case of leased property, the copy of lease deed for the registered office premises along with a NOC from the landlord and EB bill/property tax receipt/water bill copy of the registered office property. In case of property owned by self, copy of the sale deed along with the EB bill/property tax receipt/water bill is required.</p>
                     <img src="../../../../assets/images/cooperateservice/company-incorporation.png"  class="company-incorporation" alt="company-incoperation.png"/>    
                </div>
            </div>
            <div class="steps row">
                <div class="col-md-6">
                    <p style="background:yellow">Steps for Company Registration </p>
                    <div class="step1">
                        <p>1. Identify the 2 directors and submit their documents as given to the below.</p>
                        <p>Identity Proof- PAN (Indian Nationals ) or Passport (Foreign nationals)</p>
                        <p>Proof of Address- Passport / Drivers License / Election ID / Ration Card / Aadhar ID</p>
                        <p>Proof of residence- Bank Statement / Electricity Bill / Phone Bill</p>
                    </div>
                    <div class="step2">
                        <p>2. Name Approval</p>
                        <p>The pro
                            
                            
                            
                            
                            
                            
                            posed name is applied and obtained from the Ministry of Corporate Affairs. Upto 2 names can be provided. In case of rejection of both names, an opportunity is provided for re-submission of the form with 2 more names.</p>
                    </div>
                    <div class="step3">
                        <p>3. Digital Signature</p>
                        <p>Digital signatures must be obtained for the proposed directors of the company. Digital signature Is required for signing of the incorporation application. However, digital signature is not required for obtaining the name approval.</p>
                    </div>
                    <div class="step4">
                        <p>4. SPICe+ form application </p>
                        <p>On obtaining the digital signature, the incorporation application can be submitted in the SPICe form with the MCA. There is no requirement for obtaining the RUN name approval for submission of SPICe Form.</p>
                    </div>
                    <div class="step5">
                        <p>5. Company Incorporation</p>
                        <p>Company is incorporated along with the incorporation certificate, PAN and TAN within 5-10 business days after the documents submission </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <p class="warning-msg">Kindly read carefully the below information before proceeding</p>
                    </div>
                    <div class="proceedimg">
                        <img  src="../../../../assets/images/cooperateservice/registerstep.png" class="proceedpng" alt="proceed.png"/>
                    </div>
                    <div class="registerbtn">
                         <button class="btn btn-success" (click)="next()">Click to register</button>
                    </div>
                    <div>
                        <img src="../../../../assets/images/cooperateservice/steppreview.png" alt="steppreview.png"/>
                        <p style="
                
                        margin-left: 112px;
                    ">Start your business</p>
                    </div>
                </div>
            </div>
        </div>     
    </div>
    <div class="card  companyform"  style="display:none">
        <div class="card-body">
            <img src="../../../../assets/images/cooperateservice/company-formation.png" class="headerlogo" alt="header.png"/>
            <h1>Company Registration</h1>
            <form [formGroup]="companyinc">
            <div class="row">
                <div class="col">
                     <label>Application Type</label>
                     <select formControlName="applicanttype"  class="form-control" [ngClass]="{'error':companyinc.controls.applicanttype.invalid && companyinc.controls.applicanttype.touched }"   [popover]="applicanttype" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" >
                        <option value="" [selected]=true>Application Type</option>
                       <option>Company Registration  </option>
                       <option>Company Name Changes </option>
                       <option>Company Address changes</option>
                    </select>
                    <popover-content #applicanttype [closeOnClickOutside]="true" [style.display]="companyinc.controls.applicanttype.invalid && companyinc.controls.applicanttype.touched ? 'block' : 'none'">
                    <validation-messages [control]="companyinc.controls.applicanttype"></validation-messages>
                </popover-content>
                </div>
                <div class="col">
                    <label>Applicant Full Name *</label>
                    <input type="text"  formControlName="applicantfullname" class="form-control" [ngClass]="{'error':companyinc.controls.applicantfullname.invalid && companyinc.controls.applicantfullname.touched }"   [popover]="applicantfullname" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" />
                    <popover-content #applicantfullname [closeOnClickOutside]="true" [style.display]="companyinc.controls.applicantfullname.invalid && companyinc.controls.applicantfullname.touched ? 'block' : 'none'">
                    <validation-messages [control]="companyinc.controls.applicantfullname"></validation-messages>
                </popover-content>
                </div>
               
            </div>
            <div class="row">
                <div class="col">
                    <label>Name of the Firm to be registered*</label>
                    <input type="text" formControlName="firmname"   class="form-control" [ngClass]="{'error':companyinc.controls.firmname.invalid && companyinc.controls.firmname.touched }"   [popover]="firmname" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" />
                    <popover-content #firmname [closeOnClickOutside]="true" [style.display]="companyinc.controls.firmname.invalid && companyinc.controls.firmname.touched ? 'block' : 'none'">
                    <validation-messages [control]="companyinc.controls.firmname"></validation-messages>
                   </popover-content>
                </div>
                <div class="col">
                    <label>Type of Business Entity**</label>
                    <select  formControlName="businessentity" class="form-control" [ngClass]="{'error':companyinc.controls.businessentity.invalid && companyinc.controls.businessentity.touched }"   [popover]="businessentity" popoverPlacement="top" [popoverCloseOnMouseOutside]="false">
                        <option value="" [selected]=true>Type of business entity</option>
                        <option>Sole Proprietor</option>
                        <option>Private Limited Company</option>
                        <option>Public Limited Company</option>
                        <option>LLP</option>
                        <option>Society</option>
                        <option>Trust</option>
                    </select>
                    <popover-content #businessentity [closeOnClickOutside]="true" [style.display]="companyinc.controls.businessentity.invalid && companyinc.controls.businessentity.touched ? 'block' : 'none'">
                    <validation-messages [control]="companyinc.controls.businessentity"></validation-messages>
                    </popover-content>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Complete address of the principal place of business*</label>
                    <input type="text"  formControlName="primaryaddress"   class="form-control" [ngClass]="{'error':companyinc.controls.primaryaddress.invalid && companyinc.controls.primaryaddress.touched }"   [popover]="primaryaddress" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" />
                    <popover-content #primaryaddress [closeOnClickOutside]="true" [style.display]="companyinc.controls.primaryaddress.invalid && companyinc.controls.primaryaddress.touched ? 'block' : 'none'">
                    <validation-messages [control]="companyinc.controls.primaryaddress"></validation-messages>
                    </popover-content>
                </div>
                <div class="col">
                    <label>Complete address of additional place of business </label>
                    <input type="text"  formControlName="secondaryaddress"   class="form-control" [ngClass]="{'error':companyinc.controls.secondaryaddress.invalid && companyinc.controls.secondaryaddress.touched }"   [popover]="secondaryaddress" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" />
                    <popover-content #secondaryaddress [closeOnClickOutside]="true" [style.display]="companyinc.controls.secondaryaddress.invalid && companyinc.controls.secondaryaddress.touched ? 'block' : 'none'">
                    <validation-messages [control]="companyinc.controls.secondaryaddress"></validation-messages>
                    </popover-content>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>List of Goods & Services *</label>
                    <input type="text"  formControlName="goodservice"   class="form-control" [ngClass]="{'error':companyinc.controls.goodservice.invalid && companyinc.controls.goodservice.touched }"   [popover]="goodservice" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" />
                    <popover-content #goodservice [closeOnClickOutside]="true" [style.display]="companyinc.controls.goodservice.invalid && companyinc.controls.goodservice.touched ? 'block' : 'none'">
                    <validation-messages [control]="companyinc.controls.goodservice"></validation-messages>
                    </popover-content>
                </div>
                <div class="col">
                    <label>Nature of Business Activity* </label>
                    <select   formControlName="businessactivity"  class="form-control" [ngClass]="{'error':companyinc.controls.businessactivity.invalid && companyinc.controls.businessactivity.touched }"   [popover]="businessactivity" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" >
                        <option value="" [selected]=true>Nature of Business Activity</option>
                        <option>Whole Sale Business</option>
                        <option>Factory/Manufacturing</option>
                        <option>Export</option>
                        <option>Office/Sale Office</option>
                        <option>Warehouse/Depot</option>
                        <option>Work Contract</option>
                        <option>Supplier of Services</option>
                    </select>
                    <popover-content #businessactivity [closeOnClickOutside]="true" [style.display]="companyinc.controls.businessactivity.invalid && companyinc.controls.businessactivity.touched ? 'block' : 'none'">
                    <validation-messages [control]="companyinc.controls.businessactivity"></validation-messages>
                   </popover-content>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Date of commencement of business  *</label>
                    <input type="text" formControlName="commencement" class="form-control"     bsDatepicker [bsConfig]="datePickerConfig" [ngClass]="{'error':companyinc.controls.commencement.invalid && companyinc.controls.commencement.touched }"   [popover]="commencement" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" />
                    <popover-content #commencement [closeOnClickOutside]="true" [style.display]="companyinc.controls.commencement.invalid && companyinc.controls.commencement.touched ? 'block' : 'none'">
                    <validation-messages [control]="companyinc.controls.commencement"></validation-messages>
                </popover-content>
                </div>
                <div class="col">
                    <label>Do you want to create website for the company?  </label>
                    <br>
                    <input type="radio" formControlName="webpage"   value="yes" >Yes
                    <input type="radio" formControlName="webpage"   value="No" >No
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Director PAN </label>
                    
                    <div class="input-group my-3"  [ngClass]="{'error':companyinc.controls.directorpan.invalid && companyinc.controls.directorpan.touched }" >
                        <div style="width: 82%;border: 2px solid #e4e3e3;background:white;">
                            <input type="file" class="file" style="opacity:0;" id="file1" formControlName="directorpan" (change)="onSelectedfile($event)"   [popover]="directorpan" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"/>
                            <span class="upldtext1">Upload here</span>
                        </div>
                        <div class="input-group-append">
                            <button type="button" (click)="logofile1()" class="browse btn btn-primary" style="
                            padding-left: 14px;
                        ">Browse</button>
                        </div>
                    </div>
                    <popover-content #directorpan [closeOnClickOutside]="true"
                    [style.display]="companyinc.controls.directorpan.invalid && companyinc.controls.directorpan.touched ? 'block' : 'none'">
                    <validation-messages [control]="companyinc.controls.directorpan"></validation-messages>
                </popover-content>
                </div>
                <div class="col">
                        <label>Director Aadhar</label>
                        <div class="input-group my-3" [ngClass]="{'error':companyinc.controls.directoraadhar.invalid && companyinc.controls.directoraadhar.touched }" >
                            <div style="width: 82%;border: 2px solid #e4e3e3;background:white;">
                                <input type="file" class="file" id="file2" style="opacity:0;" formControlName="directoraadhar" (change)="onSelectedfile2($event)"   [popover]="directoraadhar" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" />
                                <span class="upldtext2">Upload here</span>
                            </div>
                            <div class="input-group-append">
                                <button type="button" (click)="logofile2()" class="browse btn btn-primary" style="padding-left: 14px;">Browse</button>
                            </div>
                        </div>
                        <popover-content #directoraadhar [closeOnClickOutside]="true"  [style.display]="companyinc.controls.directoraadhar.invalid && companyinc.controls.directoraadhar.touched ? 'block' : 'none'">
                            <validation-messages [control]="companyinc.controls.directoraadhar"></validation-messages>
                        </popover-content>
                </div>
            </div>
            <div class="row">
                <div class="col">
                   <label>director Photo (in JPEG)</label>
                   <div class="input-group my-3" [ngClass]="{'error':companyinc.controls.directorphoto.invalid && companyinc.controls.directorphoto.touched }">
                        <div style="width: 82%;border: 2px solid #e4e3e3;background:white;">
                          <input type="file" class="file" id="file3"  style="opacity:0;" formControlName="directorphoto" (change)="onSelectedfile3($event)"    [popover]="directorphoto" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" />
                          <span class="upldtext3">Upload here</span>
                        </div>
                      <div class="input-group-append">
                       <button type="button" (click)="logofile3()"  class="browse btn btn-primary" style="padding-left: 14px;">Browse</button>
                     </div>
                   </div>
                    <popover-content #directorphoto [closeOnClickOutside]="true"
                    [style.display]="companyinc.controls.directorphoto.invalid && companyinc.controls.directorphoto.touched ? 'block' : 'none'">
                    <validation-messages [control]="companyinc.controls.directorphoto"></validation-messages>
                </popover-content>
                </div>
                <div class="col">
                    <label>Last 3 Month bank Statement</label>
                    <div class="input-group my-3" [ngClass]="{'error':companyinc.controls.bankstatement.invalid && companyinc.controls.bankstatement.touched }">
                    <div style="width: 82%;border: 2px solid #e4e3e3;background:white;">
                        <input type="file" class="file"  id="file4"  style="opacity:0;" formControlName="bankstatement"  (change)="onSelectedfile4($event)"     [popover]="bankstatement" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" />
                        <span class="upldtext4">Upload here</span>
                    </div>    
                    <div class="input-group-append">
                        <button type="button" (click)="logofile4()" class="browse btn btn-primary" style="padding-left: 14px;">Browse</button>
                      </div>
                    </div>
                    <popover-content #bankstatement [closeOnClickOutside]="true"
                    [style.display]="companyinc.controls.bankstatement.invalid && companyinc.controls.bankstatement.touched ? 'block' : 'none'">
                    <validation-messages [control]="companyinc.controls.bankstatement"></validation-messages>
                </popover-content>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-control-label">Country  :</label>
                    <select formControlName="country" class="form-control"  (change)="selectChangeCountry($event)" [ngClass]="{'error':companyinc.controls.country.invalid && companyinc.controls.country.touched }"   [popover]="counte" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" >
                        <option value="" [selected]=true>Select country</option>
                        <option *ngFor="let country of country" [value]="country.country" id="countryselector"
                        [attr.data-somedata]="country.id">{{country.country}}</option>
                  </select>
                  <popover-content #counte [closeOnClickOutside]="true"  [style.display]="companyinc.controls.country.invalid && companyinc.controls.country.touched ? 'block' : 'none'">  
                     <validation-messages [control]="companyinc.controls.country"></validation-messages>
                  </popover-content>
                </div>
                <div class="col">
                    <label class="form-control-label">State :</label>
                    <select placeholder="Select your State/ Province" formControlName="state" (change)="selectChangeStates($event)"  class="form-control" [ngClass]="{'error':companyinc.controls.state.invalid && companyinc.controls.state.touched }"   [popover]="state" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" >
                        <option value="" [selected]=true>Select state</option>
                        <option *ngFor="let states of states" [value]="states.states" [attr.data-somedata]="states.id">
                            {{states.states}}</option>
                        </select>
                        <popover-content #state [closeOnClickOutside]="true"  [style.display]="companyinc.controls.state.invalid && companyinc.controls.state.touched ? 'block' : 'none'">   
                            <validation-messages [control]="companyinc.controls.state"></validation-messages>
                        </popover-content>
                </div>
            </div>
            <span id="pcode" style="color:white"  *ngFor="let phonecode of phonecode">{{phonecode.country_codes}}</span>
            <div class="row">
                <div class="col">
                    <label>Personal Mobile Number</label>
                    <div style="display: flex;">
                        <span class="phonecd"  *ngFor="let phonecode of phonecode">+{{phonecode.phonecode}}</span>
                       <input type="text" formControlName="mobileno" (mouseout)="PhoneValidator()" class="form-control"  [ngClass]="{'error':companyinc.controls.mobileno.invalid && companyinc.controls.mobileno.touched }"   [popover]="mobileno" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" />
                    </div>   
                    <div class="errorstyles2" *ngIf=" invalidPhoneLength">
                        <i class="fa fa-exclamation-circle"></i>Invalid mobile no
                    </div>
                    <popover-content #mobileno [closeOnClickOutside]="true" [style.display]="companyinc.controls.mobileno.invalid && companyinc.controls.mobileno.touched ? 'block' : 'none'">
                        <validation-messages [control]="companyinc.controls.mobileno"></validation-messages>
                    </popover-content>
                </div>
                <div class="col">
                    <label>Peronal Email ID</label>
                    <input type="text" formControlName="emailid"  class="form-control" [ngClass]="{'error':companyinc.controls.emailid.invalid && companyinc.controls.emailid.touched }"   [popover]="emailid" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" />
                    <popover-content #emailid [closeOnClickOutside]="true"  [style.display]="companyinc.controls.emailid.invalid && companyinc.controls.emailid.touched ? 'block' : 'none'">
                       <validation-messages [control]="companyinc.controls.emailid"></validation-messages>
                     </popover-content>
                </div>
            </div>
            <br>
            <div class="note" style="background:yellow">
                <span>Note : </span>
                <br>
                <span>1.Incase director is NRI, Please upload embassy attested passport copy in place of aadhar upload</span>
                <br>
                <span>2. Directors Digital Signature is required to submit the application, to apply Digital Signature Apply Here</span>
                <br>
            </div>
            <br>
            <div class="agreement">
                <p>I hereby declare that information provided in the online registration form is true to the best of my knowledge and I accept terms, disclaimer, and policies by clicking “Submit & Pay” button.</p>
            </div>
            <div class="button">
                   <button class="btn btn-primary prevbtn" (click)="prev()">Previous</button>
                  <button class="btn btn-success" (click)="submitandpay()">Submit and pay</button>
            </div>
        </form>
        </div>
    </div>
</div>
