.container
{
    margin-top:2%;
    margin-bottom:2%;
}
h1
{
    
    margin-bottom: 5%;
    font-size: 24px;
    text-align: center;

}
p
{
    font-weight:600;
}
.company-incorporation
{
    
    width: 65%;

}
.companyincdetail
{
    
    margin-top: 12%;

}
.headerlogo
{
    
    width: 10%;
    margin-left: 44%;

}
.proceedpng
{
    
    width: 104%;
    margin-top: 8px;
    margin-bottom: 18px;

}
.warning-msg
{
    
    padding-left: 35px;
    padding-top: 19px;

}
.error
  {
    border: 2px solid #e52f48 !important;
  }
  label
  {
      font-weight:600;
  }
  .row
  {
      margin-bottom:8px !important;
  }
  .prevbtn
  {
      
    margin-left: 35%;
    margin-right: 16px;

  }
 .upldtext1
 {
     
   
    float: left;
    padding-left: 11px;
    padding-top: 2px;

 }
 .upldtext2
 {
     
  
    float: left;
    padding-left: 11px;
    padding-top: 4px;

 }
 .upldtext3
 {
     
  
    float: left;
    padding-left: 11px;
    padding-top: 4px;

 }
 .upldtext4
 {
     
 
    float: left;
    padding-left: 11px;
    padding-top: 4px;

 }
 .file
 {
    height: 0px;
    width: 201px;
 }