<div class="container">
    <div class="card">
        <div class="card-body">
          
            <img src="../../../../assets/images/cooperateservice/company-formation.png" class="headerlogo" alt="header.png"/>
            <h1>Company Registration</h1>
            <div class="row">
                <div class="col-md-6">
                    <img src="../../../../assets/images/cooperateservice/step1.png" alt="step1.png"/>
                    <p class="companyincdetail">In case one of the shareholders or subscribers to the MOA and AOA is a corporate entity (Company, LLP, etc.,) then the certificate of incorporation must be attached along with the resolution passed by the entity to subscribe to the shares of the company under incorporation</p>         
                   
                </div>
                <div class="col-md-6">
                     <p>Dear Customer, Our charges for company Registration is 18000/-  Excluding GST.</p>
                     <p>Documents required</p>
                     <p>Documents are of utmost importance in the process. In addition to the identity proof, the directors must submit residence proof that is less than three months old.</p>
                     <p>Companies registered in India must mandatorily maintain a registered office. In case of leased property, the copy of lease deed for the registered office premises along with a NOC from the landlord and EB bill/property tax receipt/water bill copy of the registered office property. In case of property owned by self, copy of the sale deed along with the EB bill/property tax receipt/water bill is required.</p>
                     <img src="../../../../assets/images/cooperateservice/company-incorporation.png"  class="company-incorporation" alt="company-incoperation.png"/>    
                </div>
            </div>
            <div class="steps row">
                <div class="col-md-6">
                    <p style="background:yellow">Steps for Company Registration </p>
                    <div class="step1">
                        <p>1. Identify the 2 directors and submit their documents as given to the below.</p>
                        <p>Identity Proof- PAN (Indian Nationals ) or Passport (Foreign nationals)</p>
                        <p>Proof of Address- Passport / Drivers License / Election ID / Ration Card / Aadhar ID</p>
                        <p>Proof of residence- Bank Statement / Electricity Bill / Phone Bill</p>
                    </div>
                    <div class="step2">
                        <p>2. Name Approval</p>
                        <p>The pro
                            
                            
                            
                            
                            
                            
                            posed name is applied and obtained from the Ministry of Corporate Affairs. Upto 2 names can be provided. In case of rejection of both names, an opportunity is provided for re-submission of the form with 2 more names.</p>
                    </div>
                    <div class="step3">
                        <p>3. Digital Signature</p>
                        <p>Digital signatures must be obtained for the proposed directors of the company. Digital signature Is required for signing of the incorporation application. However, digital signature is not required for obtaining the name approval.</p>
                    </div>
                    <div class="step4">
                        <p>4. SPICe+ form application </p>
                        <p>On obtaining the digital signature, the incorporation application can be submitted in the SPICe form with the MCA. There is no requirement for obtaining the RUN name approval for submission of SPICe Form.</p>
                    </div>
                    <div class="step5">
                        <p>5. Company Incorporation</p>
                        <p>Company is incorporated along with the incorporation certificate, PAN and TAN within 5-10 business days after the documents submission </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <p class="warning-msg">Kindly read carefully the below information before proceeding</p>
                    </div>
                    <div class="proceedimg">
                        <img  src="../../../../assets/images/cooperateservice/registerstep.png" class="proceedpng" alt="proceed.png"/>
                    </div>
                    <div class="registerbtn">
                         <button class="btn btn-success">Click to register</button>
                    </div>
                    <div>
                        <img src="../../../../assets/images/cooperateservice/steppreview.png" alt="steppreview.png"/>
                        <p style="
                        align: center;
                        margin-left: 112px;
                    ">Start your business</p>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</div>
