<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-12 col-lg-11 col-xl-10">
            <div class="card card0">
                <div class="row">
                    <div class="col-md-6 d-block p-0 box">
                        <div class="card rounded-0 border-0 card1 pr-xl-4 pr-lg-3">
                            <div class="row justify-content-center">
                                <div class="col-11">
                                    <h3 class="text-center mt-4 mb-4" id="heading0">ESI Monthly Filing</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-5 fit-image"> <img src="../../../../assets/images/cooperateservice/ESILogo.png" height="200px" width="200px"> </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-11">
                                    <p class="text-center mt-0 mb-3" id="sub-heading2"  style="text-align: justify !important;">Employee State Insurance (ESI) is a social security scheme and a health supportive insurance plan for Indian employees in the organized sector, which offers them lifetime medical and disablement benefits on contribution of a small amount while they are working, being contributed by both employer and employee. It is managed by Employee State Insurance Corporation (ESIC) working under Ministry of Labour and Employment, Govt of India and is governed under the ESI ACT, 1948</p>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-11">
                                    <p class="text-center mt-0 mb-3" id="sub-heading2" style="text-align: justify !important;">Our Charges for ESI Monthly filing is 1500/-. To apply for monthly Filing services please Provide below mentioned details </p>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 p-0 box">
                        <div class="card rounded-0 border-0 card2">
                            <div class="form-card">
                                <h2 id="heading" class="text-center">Register</h2>
                                <div class="row form-group">
                                    <div class="col-9 col-md-7"> <input type="text" name="exp" id="exp" placeholder="ESI Reg. Number*"> </div>
                                    <div class="col-3 col-md-5"> <input type="text" name="cvcpwd" placeholder="ESI  User Name*" class="placeicon" > </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-9 col-md-7"> <input type="text" name="exp" id="exp" placeholder="Mobile Number *"> </div>
                                    <div class="col-3 col-md-5"> <input type="text" name="cvcpwd" placeholder="Email ID*" class="placeicon" > </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-9 col-md-7"> <input type="text" name="exp" id="exp" placeholder="ESI Login Password*"> </div>
                                    <div class="col-3 col-md-5"> <input type="text" name="cvcpwd" placeholder="Confirm Password*" class="placeicon" > </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-12"> <input type="text" name="exp" id="exp" placeholder="MM/DD/YYYY"> </div>
                                    
                                </div>
                                <div class="row form-group">
                                    <div class="col-12"><label style="font-weight:600">Upload Wages details</label><input type="file" class="form-control"> </div>
                                    
                                </div>
                                <div class="bottom">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                             <p style="margin-bottom: 16px;"><input id="chk1" type="checkbox" name="chk" class="custom-control-input">I hereby declare that information provided in the online registration form is true to the best of my knowledge and I accept terms, disclaimer, and policies by clicking “Submit & Pay” button.</p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-8"> <input type="submit" value="Submit and pay" class="btn btn-success"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>