<ngx-spinner bdOpacity=0.9 bdColor="rgba(255,255,255,0.7)" size="medium" color="#342c2c" type="ball-atom"
[fullScreen]="true">
<p style="color: black"> Loading... </p>
</ngx-spinner>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-12 col-lg-11 col-xl-10">
            <div class="card card0">
                <div class="row">
                    <div class="col-md-6 d-block p-0 box">
                        <div class="card rounded-0 border-0 card1 pr-xl-4 pr-lg-3">
                            <div class="row justify-content-center">
                                <div class="col-11">
                                    <h3 class="text-center mt-4 mb-4" id="heading0">ESI Monthly Filing</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-5 fit-image"> <img src="../../../../assets/images/cooperateservice/ESILogo.png" height="200px" width="200px"> </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-11">
                                    <p class="text-center mt-0 mb-3" id="sub-heading2"  style="text-align: justify !important;">Employee State Insurance (ESI) is a social security scheme and a health supportive insurance plan for Indian employees in the organized sector, which offers them lifetime medical and disablement benefits on contribution of a small amount while they are working, being contributed by both employer and employee. It is managed by Employee State Insurance Corporation (ESIC) working under Ministry of Labour and Employment, Govt of India and is governed under the ESI ACT, 1948</p>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-11">
                                    <p class="text-center mt-0 mb-3" id="sub-heading2" style="text-align: justify !important;">Our Charges for ESI Monthly filing is 1500/-. To apply for monthly Filing services please Provide below mentioned details </p>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 p-0 box">
                        <div class="card rounded-0 border-0 card2">
                            <div class="form-card">
                                <h2 id="heading" class="text-center">Register</h2>
                                <form [formGroup]="esimonthlyfiling">
                                <div class="row form-group">
                                    <div class="col-9 col-md-7"> <input type="text" formControlName="esiregisterno"  placeholder="ESI Reg. Number*" [ngClass]="{'error':esimonthlyfiling.controls.esiregisterno.invalid && esimonthlyfiling.controls.esiregisterno.touched }"   [popover]="esiregisterno" popoverPlacement="top" [popoverCloseOnMouseOutside]="false">
                                        <popover-content #esiregisterno [closeOnClickOutside]="true"
                                        [style.display]="esimonthlyfiling.controls.esiregisterno.invalid && esimonthlyfiling.controls.esiregisterno.touched ? 'block' : 'none'">
                                        <validation-messages [control]="esimonthlyfiling.controls.esiregisterno"></validation-messages> </popover-content></div>
                                    <div class="col-3 col-md-5"> <input type="text" formControlName="esiusername" placeholder="ESI  User Name*" class="placeicon" [ngClass]="{'error':esimonthlyfiling.controls.esiusername.invalid && esimonthlyfiling.controls.esiusername.touched }"   [popover]="esiusername" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" >   <popover-content #esiusername [closeOnClickOutside]="true"
                                        [style.display]="esimonthlyfiling.controls.esiusername.invalid && esimonthlyfiling.controls.esiusername.touched ? 'block' : 'none'"> <validation-messages [control]="esimonthlyfiling.controls.esiusername"></validation-messages></popover-content></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-9 col-md-7">
                                       
                                        <select formControlName="country" class="form-control"  (change)="selectChangeCountry($event)" [ngClass]="{'error':esimonthlyfiling.controls.country.invalid && esimonthlyfiling.controls.country.touched }"   [popover]="counte" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" >
                                            <option value="" [selected]=true>Select country</option>
                                            <option *ngFor="let country of country" [value]="country.country" id="countryselector"
                                            [attr.data-somedata]="country.id">{{country.country}}</option>
                                      </select>
                                      <popover-content #counte [closeOnClickOutside]="true"  [style.display]="esimonthlyfiling.controls.country.invalid && esimonthlyfiling.controls.country.touched ? 'block' : 'none'">  
                                         <validation-messages [control]="esimonthlyfiling.controls.country"></validation-messages>
                                      </popover-content>
                                    </div>
                                    <div class="col-3 col-md-5">
                                        
                                        <select placeholder="Select your State/ Province" formControlName="state" (change)="selectChangeStates($event)"  class="form-control" [ngClass]="{'error':esimonthlyfiling.controls.state.invalid && esimonthlyfiling.controls.state.touched }"   [popover]="state" popoverPlacement="top" [popoverCloseOnMouseOutside]="false" >
                                            <option value="" [selected]=true>Select state</option>
                                            <option *ngFor="let states of states" [value]="states.states" [attr.data-somedata]="states.id">
                                                {{states.states}}</option>
                                            </select>
                                            <popover-content #state [closeOnClickOutside]="true"  [style.display]="esimonthlyfiling.controls.state.invalid && esimonthlyfiling.controls.state.touched ? 'block' : 'none'">   
                                                <validation-messages [control]="esimonthlyfiling.controls.state"></validation-messages>
                                            </popover-content>
                                    </div>
                                </div>
                                <span id="pcode" style="color:white"  *ngFor="let phonecode of phonecode">{{phonecode.country_codes}}</span>
                                <div class="row form-group">
                                    <div class="col-9 col-md-7"> 
                                        <div style="display:flex;height: 46px;">
                                            <span class="pcodes" *ngFor="let phonecode of phonecode">+{{phonecode.phonecode}}</span>
                                            <input type="text" style="width:78%;margin-bottom: 3px;" (mouseout)="PhoneValidator()" formControlName="mobileno"  placeholder="Mobile Number *" [ngClass]="{'error':esimonthlyfiling.controls.mobileno.invalid && esimonthlyfiling.controls.mobileno.touched }"   [popover]="mobileno" popoverPlacement="top" [popoverCloseOnMouseOutside]="false">
                                        </div>
                                        <div class="errorstyles2" *ngIf=" invalidPhoneLength">
                                            <i class="fa fa-exclamation-circle"></i>Invalid mobile no
                                        </div>
                                            <popover-content #mobileno [closeOnClickOutside]="true"
                                        [style.display]="esimonthlyfiling.controls.mobileno.invalid && esimonthlyfiling.controls.mobileno.touched ? 'block' : 'none'">
                                        <validation-messages [control]="esimonthlyfiling.controls.mobileno"></validation-messages> </popover-content></div>
                                    <div class="col-3 col-md-5"> <input type="text" formControlName="emailid" placeholder="Email ID*" class="placeicon" [ngClass]="{'error':esimonthlyfiling.controls.emailid.invalid && esimonthlyfiling.controls.emailid.touched }"   [popover]="emailid" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"> <popover-content #emailid [closeOnClickOutside]="true"
                                        [style.display]="esimonthlyfiling.controls.emailid.invalid && esimonthlyfiling.controls.emailid.touched ? 'block' : 'none'"> <validation-messages [control]="esimonthlyfiling.controls.emailid"></validation-messages> </popover-content></div>
                                </div>
                               
                                <div class="row form-group">
                                    <div class="col-9 col-md-7">
                                         <input type="password" formControlName="logpassword" placeholder="ESI Login Password*" [ngClass]="{'error':esimonthlyfiling.controls.logpassword.invalid && esimonthlyfiling.controls.logpassword.touched }"   [popover]="logpassword" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"> 
                                        <popover-content #logpassword [closeOnClickOutside]="true"
                                        [style.display]="esimonthlyfiling.controls.logpassword.invalid && esimonthlyfiling.controls.logpassword.touched ? 'block' : 'none'">
                                        <validation-messages [control]="esimonthlyfiling.controls.logpassword"></validation-messages> 
                                    </popover-content>
                                </div>
                                    <div class="col-3 col-md-5">
                                         <input type="password" formControlName="confirmpassword" placeholder="Confirm Password*" class="placeicon" [ngClass]="{'error':esimonthlyfiling.controls.confirmpassword.invalid && esimonthlyfiling.controls.confirmpassword.touched }"   [popover]="confirmpassword" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"> 
                                         <popover-content #confirmpassword [closeOnClickOutside]="true"
                                        [style.display]="esimonthlyfiling.controls.confirmpassword.invalid && esimonthlyfiling.controls.confirmpassword.touched ? 'block' : 'none'"> 
                                        <validation-messages [control]="esimonthlyfiling.controls.confirmpassword"></validation-messages> 
                                         </popover-content>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-12"> <input type="text" formControlName="date" bsDatepicker [bsConfig]="datePickerConfig"  placeholder="MM/DD/YYYY"  [ngClass]="{'error':esimonthlyfiling.controls.date.invalid && esimonthlyfiling.controls.date.touched }"   [popover]="date" popoverPlacement="top" [popoverCloseOnMouseOutside]="false"> 
                                        <popover-content #date [closeOnClickOutside]="true"
                                        [style.display]="esimonthlyfiling.controls.date.invalid && esimonthlyfiling.controls.date.touched ? 'block' : 'none'"> 
                                        <validation-messages [control]="esimonthlyfiling.controls.date">  
                                        </validation-messages> 
                                        </popover-content>
                                        </div>
                                    
                                </div>
                                <div class="row form-group">
                                    <div class="col-12">
                                        <div class="input-group my-3" [ngClass]="{'error':esimonthlyfiling.controls.uploadwage.invalid && esimonthlyfiling.controls.uploadwage.touched }">
                                            <div class="fileuploadbox">
                                                <input type="file" id="file1" style="opacity:0;"  formControlName="uploadwage" class="form-control"  (change)="onSelectedfile($event)"     [popover]="uploadwage" popoverPlacement="top" [popoverCloseOnMouseOutside]="false">
                                                <span class="upldtext">Upload Wages details(.xlsx)</span>
                                            </div>    
                                            <div class="input-group-append">
                                                <button type="button" (click)="logofile1()" class="btn btn-primary browse" >Upload</button>
                                              </div>
                                              <span>Click here to download - </span><a href="http://www.famposo.com/pathsoftlaunch/documents/Esidoc/sampledocs/ESI_%20Wages%20_Employees%20List.xlsx"  download> Samplefile.xlsx</a>
                                            </div>
                                          
                                         <popover-content #uploadwage [closeOnClickOutside]="true"
                                        [style.display]="esimonthlyfiling.controls.uploadwage.invalid && esimonthlyfiling.controls.uploadwage.touched ? 'block' : 'none'"> 
                                        <validation-messages [control]="esimonthlyfiling.controls.uploadwage"> 
                                        </validation-messages> 
                                             </popover-content>
                                 </div>
                                    
                                </div>
                                <div class="bottom form-group">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                             <p style="margin-bottom: 16px;"><input id="chk1" type="checkbox" name="chk" class="custom-control-input">I hereby declare that information provided in the online registration form is true to the best of my knowledge and I accept terms, disclaimer, and policies by clicking “Submit & Pay” button.</p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-8"> <input type="submit" value="Submit and pay" (click)="submitandpay()" class="btn btn-success"> </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>