<body>
    <br>
    <br>
    <br>
    <div class="row" id="spayment">
        <div class="col-lg-8 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <div class="thank-you-pop">
                            <img src="../../../../assets/images/payment/tick.png" alt="">
                            <h1>Payment Successful!</h1>
                            <p>Thank you ! Your payment is complete</p>
                            <!-- <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->

                            <button type="button" [routerLink]="['/home']" class="btn btn-success ">
                                Done</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"  id="orderpayment">
        <div class="col-lg-8 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <div class="thank-you-pop">
                            <img src="../../../../assets/images/payment/tick.png" alt="">
                            <h1>Your  order placed Successfully</h1>
                            <p>Thank you for shopping with famposo</p>
                            <!-- <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->

                            <button type="button" [routerLink]="['/home']" class="btn btn-success ">
                                Done</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"  id="digitalsignpayment">
        <div class="col-lg-8 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <div class="thank-you-pop">
                            <img src="../../../../assets/images/payment/tick.png" alt="">
                            <h1>Digital signature registration is successful</h1>
                            <p>Thank you ! Your payment is complete</p>
                            <!-- <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->

                            <button type="button" [routerLink]="['/home']" class="btn btn-success ">
                                Done</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"  id="esimonthlyfilpayment">
        <div class="col-lg-8 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <div class="thank-you-pop">
                            <img src="../../../../assets/images/payment/tick.png" alt="">
                            <h1>ESI monthly filing is applied successful</h1>
                            <p>Thank you ! Your payment is complete</p>
                            <!-- <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->

                            <button type="button" [routerLink]="['/home']" class="btn btn-success ">
                                Done</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"  id="companyincpayment">
        <div class="col-lg-8 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <div class="thank-you-pop">
                            <img src="../../../../assets/images/payment/tick.png" alt="">
                            <h1>Company registration application is submitted successfully</h1>
                            <p>Thank you ! Your payment is complete</p>
                            <!-- <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->

                            <button type="button" [routerLink]="['/home']" class="btn btn-success ">
                                Done</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"  id="gstmonthlyfilpayment">
        <div class="col-lg-8 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <div class="thank-you-pop">
                            <img src="../../../../assets/images/payment/tick.png" alt="">
                            <h1>GST monthly filing is applied successful</h1>
                            <p>Thank you ! Your payment is complete</p>
                            <!-- <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->

                            <button type="button" [routerLink]="['/home']" class="btn btn-success ">
                                Done</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"  id="esiregpayment">
        <div class="col-lg-8 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <div class="thank-you-pop">
                            <img src="../../../../assets/images/payment/tick.png" alt="">
                            <h1>ESI registration is successful</h1>
                            <p>Thank you ! Your payment is complete</p>
                            <!-- <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->

                            <button type="button" [routerLink]="['/home']" class="btn btn-success ">
                                Done</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"  id="gstregpayment">
        <div class="col-lg-8 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <div class="thank-you-pop">
                            <img src="../../../../assets/images/payment/tick.png" alt="">
                            <h1>GST registration is successful</h1>
                            <p>Thank you ! Your payment is complete</p>
                            <!-- <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->

                            <button type="button" [routerLink]="['/home']" class="btn btn-success ">
                                Done</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>