<div class="container-fluid px-1 py-5 mx-auto">
   
    <div class="row d-flex justify-content-center">
        <div class="col-md-3" style="
        background: #009688;
       
      " >
        <div class="gstimage" style="
        margin-top: 185px;
        
    ">
            <img src="../../../../assets/images/cooperateservice/gstlogo.png" alt="gstreg.jpg" style="
            width: 92%;
        "/>
       </div>
        
           <div class="gstabbreviation" >
            <p style="
            color: WHITE;
            font-weight: 700;
            padding-left: 25px;
            font-size:!6pt;
        ">GOODS AND SERVICE TAX</p>
           </div>
           <div class="gstcharges" >
            <p  style="
            color: WHITE;
            font-weight: 700;
            padding-left: 25px;
        ">Our Charges for Filing Monthly filing is GST is 1300/- up to 15-20 Transaction per month. </p>
        </div>
        </div>
        <div class="col-md-8" style="
        padding-left: 0px;
    " >
            <div class="card rounded-0 b-0">
               
                <div class="gstimage" style="margin-left: 36%;">
                    <img src="../../../../assets/images/cooperateservice/register.png" alt="gstreg.jpg" style="width: 30%;"/>
               </div>
            
                <div class="card-body  pt-0">
                    <div class="row">
                       
                        <div class="col-md-12">
                            <h4 class="heading mb-4 pb-1">Indian GST returns</h4>
                            <div class="aboutgst">
                                <div class="Gstdetails">
                                    <p>GST registered businesses typically have to file three returns per month (GSTR-1, GSTR-2 and GSTR-3) in each state where they operate.  An annual GST return is also required.  This means a business will have to complete 37 returns per annum in each state where they are trading.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <label class="form-control-label">GST Number  :</label> <input type="text" id="cname" name="cname" placeholder="" class="form-control" onblur="validate2(1)"> 
                                </div>
                                <div class="col">
                                    <label class="form-control-label">GST User Name * :</label> <input type="text" id="zip" name="zip" placeholder="" class="form-control" onblur="validate2(2)"> 
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <label class="form-control-label">Mobile Number  :</label> <input type="text" id="cname" name="cname" placeholder="" class="form-control" onblur="validate2(1)"> 
                                </div>
                                <div class="col">
                                    <label class="form-control-label">Email ID * :</label> <input type="text" id="zip" name="zip" placeholder="" class="form-control" onblur="validate2(2)"> 
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <label class="form-control-label">GST Login Password  :</label> <input type="text" id="cname" name="cname" placeholder="" class="form-control" onblur="validate2(1)"> 
                                </div>
                                <div class="col">
                                    <label class="form-control-label">Confirm Login Password * :</label> <input type="text" id="zip" name="zip" placeholder="" class="form-control" onblur="validate2(2)"> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Agreement">
                        <p>
                           I hereby declare that information provided in the online registration form is true to the best of my knowledge and I accept terms, disclaimer, and policies by clicking “Submit & Pay” button.
                        </p>
                   </div>
                    <div class="row justify-content-center" style="
                    margin-bottom: 13px;
                "> <button class="btn btn-blue next mx-2" id="next1">Submit and pay</button> </div>
                    <div class="gstreturnprocess" style="background: yellow;padding-left: 25px;padding-top: 11px;padding-bottom: 10px;">
                        <p>Monthly GST returns process</p>
                        <p>The Indian tax authorities require tax payers to reconcile their GST invoices with their customers and suppliers via the online clearing system.  The monthly process is as follows:</p>
                    </div>
                </div>
                
               
            </div>
        </div>
    </div>
</div>