<div class="header-top text-right">
   <div class="btn-group mr-5 mt-1">
      <a [routerLink]="['/productwhishlist']" style="text-decoration: none;" target="_blank"  aria-haspopup="true" aria-expanded="false" style="color:white">
         <i class="fa fa-heart" style="margin-right: 8px;"></i>
        
      </a>
      <a type="button"  [routerLink]="['/register','login']"  aria-haspopup="true" aria-expanded="false"  id="signedin" style="color:white">
         <i class="fa fa-user-circle-o"  style="margin-right: 8px;"></i>signin
      </a>
     
            <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="loggedin">
               <i class="fa fa-user-circle-o" style="margin-right: 8px;"></i><span id="username">{{user}}</span>
            </a>
            <div class="dropdown-menu">
               <a class="dropdown-item" target="_blank" href="//www.famposo.com/testsoftlaunch/user/">Profile Setup</a>
               <a class="dropdown-item" [routerLink]="['/subscription']">Subscription</a>
               <a class="dropdown-item" [routerLink]="['/change-password']">Password</a>
               <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
     
   </div>
</div>
<div class="header-logo">
   <div class="row">
      <div class="col-md-4 pt-3" [routerLink]="['/home']">
         <img class="logo-img" src="assets/images/header/logo.png">
      </div>
      <div class="col-md-4 pt-5">
         <div class="search-header">
            <select name="" class="search-category" id="category" (change)="selectcategory($event)">
               <option value="" selected>All Categories</option>
               <option *ngFor="let category of category" [value]="category.id" [attr.data-somedata]="category.id">
                  {{category.category}}</option>

            </select>
            <select name="" class="search-sort" id="subcategory" (change)="selectsubcategory($event)">
               <option value="" selected>Sort</option>
               <option *ngFor="let subcategory of subcategory" [value]="subcategory.id"
                  [attr.data-somedata]="subcategory.id">{{subcategory.subcategory}}</option>
            </select>
            <input type="text" name="" class="search-keyword" placeholder="Keyword here..." id="search-input" (input)="onSearchChange()">
            <i class="fa fa-microphone fa-lg voice-img" style="color: #7e8284" ></i>
            <i class="fa fa-search" style="margin-left: 40pt;color: #ffffff;cursor: pointer;" id="search"
               (click)="search()"></i>
         </div>
      </div>
      <div class="col-md-4 pt-3 pl-5">
        
         <a href="https://wa.me/9500559800?text=Hi%0A" style="text-decoration: none;" target="_blank">
            <img class="whatsapp-img" src="assets/images/header/whatsapp.png">
            <p class="support-p">Support</p>
            <p class="support-no">+91 95005 59800</p>
         </a>
         <a [routerLink]="['/productcart']">
            <img class="cart-img" src="assets/images/header/cart.png">
            <span id="cartcount" class="step">0</span>
            <p class="cart-p">My Cart</p>

         </a>

         <p class="gift-card">Gift Cards</p>
      </div>
   </div>
</div>
<div class="header-logo-resposive">
   <div class="col-sm-12 text-center pt-3">
      <img class="logo-img" src="assets/images/header/logo.png">
   </div>
   <div class="col-sm-12 pt-2">
      <div class="search-header-mob">
         <select name="" class="search-category-mob">
            <option selected>All Categories</option>
         </select>
         <select name="" class="search-sort-mob">
            <option selected>Sort</option>
         </select>
         <input type="text" name="" class="search-keyword-mob" placeholder="Keyword here...">
         <i class="fa fa-microphone voice-img-mob" style="color: #7e8284;"></i>
         <i class="fa fa-search search-img-mob" style="margin-left: 13pt;color: #ffffff;cursor: pointer;"></i>
      </div>
   </div>
   <div class="col-sm-12">
      <img class="whatsapp-img-mob" src="assets/images/header/whatsapp.png">
      <img class="cart-img-mob" src="assets/images/header/cart.png">
   </div>
</div>
<div class="header-placeholder header-placeholder-v2">
   <div class="header-wrap J-header-wrap">
      <div class="header-main">
         <div class="main-content">
            <div class="header-sides">
               <div class="header-side-menu-icon J-header-side-menu-icon">
                  <i class="fa fa-bars"></i>
               </div>
            </div>
         </div>
         <div class="header-mask-m J-header-mask-m"></div>
      </div>
      <div class="header-bottom-wrap">
         <div class="header-side-menu-title">
            <div class="back J-header-menu-back hide">
               <i class="ob-icon icon-left-big"></i>
            </div>
            <div class="header-side-menu-title-text J-header-side-menu-title">Menu</div>
            <div class="close1 J-header-cate-close">
               <i class="fa fa-times"></i>
            </div>
         </div>
         <div class="header-bottom-cnt">
            <div class="header-bottom-inner">
               <div class="header-bottom-category">
                  <div class="category-item J-header-cate-name">
                     <a class="category-main-link" href="#">SOFTWARE SERVICES</a>
                  </div>
                  <div class="category-item J-header-cate-name">
                     <a class="category-main-link" href="#">COMPANY REGISTRATION</a>
                  </div>
                  <div class="category-item J-header-cate-name">
                     <a class="category-main-link" href="#">GST , ESI , PF</a>
                  </div>
                  <div class="category-item J-header-cate-name">
                     <a class="category-main-link" href="#">DIGITAL SIGNATURE</a>
                  </div>
                  <div class="category-item J-header-cate-name">
                     <a class="category-main-link" href="#">ISO & ISI CERTIFICATION</a>
                  </div>
                  <div class="category-item J-header-cate-name">
                     <a class="category-main-link" href="#">COMPUTER SALES AND SERVICES</a>
                  </div>
                  <div class="category-item J-header-cate-name">
                     <a class="category-main-link" href="#">CCTV & SECURITY SYSTEM</a>
                  </div>
                  <div class="category-item J-header-cate-name">
                     <a class="category-main-link" href="#">INSURANCE SERVICES</a>
                  </div>
                  <!-- <div class="category-item J-header-cate-name">
                     <a class="category-main-link" href="#">LOAN SERVICES</a>
                  </div> -->
                  <div class="category-item J-header-cate-name">
                     <a class="category-main-link" href="#">PAN & TAN</a>
                  </div>
               </div>
               <div class="category-more J-header-cate-more">
                  <a class="category-more-link" href="javascript:;">
                     <i class="ob-icon icon-more"></i>
                  </a>
               </div>
            </div>
         </div>
         <div class="header-side-cate J-header-side-cate">
            <div class="header-side-menu-cnt">
               <a class="menu-link" [routerLink]="['/aboutus']">HOME</a>
               <a class="menu-link" [routerLink]="['/aboutus']">ABOUT US</a>
               <a class="menu-link" (click)="menu('WomensWing','')">WOMEN'S WING</a>
               <!--  <a class="menu-link" href="#" ></a> -->
               <!-- <div class="cate-item J-side-menu-promotion">
                    <a href="#">FINANCING</a>
                    <i class="cate-arrow fa fa-arrow-right"></i>
                </div> -->
               <!-- <a class="menu-link" href="#" >GROUP BUY</a> -->
               <div class="cate-item J-side-menu-cate">
                  <a href="#">CORPORATE SERVICE</a>
                  <i class="cate-arrow fa fa-arrow-right"></i>
               </div>
               <a class="menu-link" [routerLink]="['/contactus']">INNOVATIONS</a>
               <!-- <a class="menu-link" href="#" >TRAINING</a>
               <a class="menu-link" href="#" >INVESTMENTS</a> 
               <a class="menu-link" [routerLink]="['/subscription']">JOIN FREE</a>
               <a class="menu-link" href="//www.famposo.com/preregistration" target="_blank">REGISTER</a>-->
               <a class="menu-link" [routerLink]="['/contactus']">GIFTED CHILDREN</a>
               <a class="menu-link" [routerLink]="['/subscription']">SUBSCRIPTION</a>
               <a class="menu-link" [routerLink]="['/register','signup']">JOIN NOW</a>
               <a class="menu-link" [routerLink]="['/register','login']"> LOGIN</a>
               <a class="menu-link" [routerLink]="['/contactus']">CONTACT US </a>
            </div>
         </div>
         <div class="header-category-list J-header-promotion-list hide">
            <!-- <div class="cate-col">
               <div class="cate-item">
                    <a href="#">Home Loan</a>
               </div>
               <div class="cate-item">
                    <a href="#">Personal Loan</a>
               </div>
               <div class="cate-item">
                    <a href="#">Business Loan</a>
               </div>
            </div> -->
         </div>
         <div class="header-category-list J-header-category-list hide">
            <div class="cate-col hide J-cate-col J-cate-1st">
               <div class="cate-item ">
                  <a  (click)="menu('SoftwareService','')">Software Services</a>
                  <i class="cate-arrow fa fa-arrow-right"></i>
               </div>
               <div class="cate-item ">
                  <a  (click)="menu('CompanyRegistration','')">Company Registration</a>
                  <i class="cate-arrow fa fa-arrow-right"></i>
               </div>
               <div class="cate-item ">
                  <a  (click)="menu('GST,ESI,PF','')">GST , ESI , PF</a>
                  <i class="cate-arrow fa fa-arrow-right"></i>
               </div>
               <div class="cate-item ">
                  <a (click)="menu('DigitalSignature','')">Digital Signature</a>
                  <i class="cate-arrow fa fa-arrow-right"></i>
               </div>
               <div class="cate-item ">
                  <a (click)="menu('ISO & ISI CERTIFICATION','')">ISO & ISI Certification</a>
                  <i class="cate-arrow fa fa-arrow-right"></i>
               </div>
               <div class="cate-item ">
                  <a (click)="menu('Computer Sales and Service','')">Computer Sales and Services</a>
                  <i class="cate-arrow fa fa-arrow-right"></i>
               </div>
               <div class="cate-item ">
                  <a (click)="menu('CCTV & Security System','')">CCTV & Security System</a>
                  <i class="cate-arrow fa fa-arrow-right"></i>
               </div>
               <div class="cate-item ">
                  <a (click)="menu('Insurance Service','')">Insurance Services</a>
                  <i class="cate-arrow fa fa-arrow-right"></i>
               </div>
               <!-- <div class="cate-item ">
                  <a href="#">Loan Services</a>
                  <i class="cate-arrow fa fa-arrow-right"></i>
               </div> -->
               <div class="cate-item ">
                  <a (click)="menu('PAN & TAN','')">PAN & TAN</a>
                  <i class="cate-arrow fa fa-arrow-right"></i>
               </div>
            </div>
            <div class="cate-col hide J-cate-col J-cate-2nd">
               <div class="cate-group hide" catId="32">
                  <a (click)="menu('SoftwareService','All type of Customized software')">All type of Customized software</a>
                  <a (click)="menu('SoftwareService','Billing Software')">Billing Software</a>
                  <a (click)="menu('SoftwareService','Tally Software')">Tally Software</a>
                  <a (click)="menu('SoftwareService','Website designing and developing')">Website designing and developing</a>
               </div>
               <div class="cate-group hide" catId="112">
                  <a (click)="menu('CompanyRegistration','LLP / PVT LTD Company Registration')">LLP / PVT LTD Company Registration</a>
                  <a (click)="menu('CompanyRegistration','Proprietorship registration')">Proprietorship registration</a>
                  <a (click)="menu('CompanyRegistration','Trust')">Trust</a>
                  <a (click)="menu('CompanyRegistration','NGO')">NGO</a>
               </div>
               <div class="cate-group hide" catId="92">
                  <a (click)="menu('GST,ESI,PF','GST Registration')">GST Registration</a>
                  <a (click)="menu('GST,ESI,PF','GST monthly filing')">GST monthly filing</a>
                  <a (click)="menu('GST,ESI,PF','ESI Registration')">ESI Registration</a>
                  <a (click)="menu('GST,ESI,PF','ESI Monthly filing')">ESI Monthly filing</a>
                  <a (click)="menu('GST,ESI,PF','PF Registration')">PF Registration</a>
                  <a (click)="menu('GST,ESI,PF','ESI Monthly filing')">ESI Monthly filing</a>
                  <a (click)="menu('GST,ESI,PF','PF Monthly Filing')">PF Monthly Filing</a>
               </div>
               <div class="cate-group hide" catId="102">
                  <a (click)="menu('Digital Signature','All type of Class2 & Class3 Digital Signature')">All type of Class2 & Class3 Digital Signature</a>
               </div>
               <div class="cate-group hide" catId="132">
                  <a (click)="menu('ISO & ISI Certification','ISO 9001, ISO27001, ISO 14001, ISO 18001, ISO 22000, ISO 13485')">ISO 9001, ISO27001, ISO 14001, ISO 18001, ISO 22000, ISO 13485</a>
                  <a (click)="menu('ISO & ISI Certification','ISI Mark Registration for manufacturing companies')">ISI Mark Registration for manufacturing companies</a>
               </div>
               <div class="cate-group hide" catId="82">
                  <a (click)="menu('Computer Sales and Services','All type of branded and assembled Computer')">All type of branded and assembled Computer</a>
                  <a (click)="menu('Computer Sales and Services','Computer services and AMC')">Computer services and AMC</a>
               </div>
               <div class="cate-group hide" catId="12">
                  <a (click)="menu('CCTV & Security System','CCTV camera installation')">CCTV camera installation</a>
                  <a (click)="menu('CCTV & Security System','Attendance System')">Attendance System</a>
               </div>
               <div class="cate-group hide" catId="72">
                  <a (click)="menu('Insurance Services','LIC Insurance')">LIC Insurance</a>
                  <a (click)="menu('Insurance Services','Vehicle Insurance')">Vehicle Insurance</a>
                  <a (click)="menu('Insurance Services','Medical Health Insurance')">Medical Health Insurance </a>
                  <a (click)="menu('Insurance Services','Machinery Insurance')">Machinery Insurance</a>
                  <a (click)="menu('Insurance Services','Travel Insurance')">Travel Insurance</a>
               </div>
               <!-- <div class="cate-group hide" catId="62">
                  <a href="#">Home Loan</a>
                  <a href="#">Personal Loan</a>
                  <a href="#">Business Loan</a>
               </div> -->
               <div class="cate-group hide" catId="142">
                  <a (click)="menu('PAN & TAN','New PAN Card')">New PAN Card </a>
                  <a (click)="menu('PAN & TAN','Correction in PAN CARD')">Correction in PAN CARD</a>
                  <a (click)="menu('PAN & TAN','TAN Number for TDS')">TAN Number for TDS</a>
               </div>
            </div>
         </div>
      </div>
      <div class="header-bottom">
         <div class="header-links">
            <a [routerLink]="['/home']">HOME</a>
            <a [routerLink]="['/aboutus']">ABOUT US</a>
            <a (click)="menu('WomensWing','')">WOMEN'S WING</a>
            <!-- <div class="header-link-item">
               <a href="#">FINANCING</a>
                 <div class="link-items">
                     <div class="item text-center">
                         <a style="cursor: auto;">LOAN SERVICES</a>
                     </div>             
                     <div class="item">
                         <a href="#">Home Loan</a>
                     </div>
                     <div class="item">
                         <a href="#">Personal Loan</a>
                     </div>
                     <div class="item">
                         <a href="#">Business Loan</a>
                     </div>
                  </div>
            </div> -->
            <!-- <a href="#">GROUP BUY</a> -->
            <div class="header-categoryPC header-category header-nav J-categoryPC">
               <div class="nav-con nav-con-category">
                  <div class="p-show">
                     <span class="nav-con-txt">CORPORATE SERVICE</span>
                  </div>
               </div>
               <div class="header-categoryPC-content">
                  <div class="categoryPC-col J-categoryPC-level1">
                     <div class="categoryPC-item J-categoryPC-item" catId="52" id="52">
                        <a  (click)="menu('SoftwareService','')">Software Services</a>
                        <i class="fa fa-arrow-right arrowcol" style="margin-left: 55pt;color: #ffffff"></i>
                        <i class="ob-icon icon-right"></i>
                     </div>
                     <div class="categoryPC-item J-categoryPC-item" catId="112" id="112">
                        <a  (click)="menu('CompanyRegistration','')">Company Registration</a>
                        <i class="fa fa-arrow-right arrowcol" style="margin-left: 35pt;color: #ffffff;"></i>
                        <i class="ob-icon icon-right"></i>
                     </div>
                     <div class="categoryPC-item J-categoryPC-item" catId="92" id="92">
                        <a  (click)="menu('GST,ESI,PF','')">GST , ESI , PF</a>
                        <i class="fa fa-arrow-right arrowcol" style="margin-left: 75pt;color: #ffffff;"></i>
                        <i class="ob-icon icon-right"></i>
                     </div>
                     <div class="categoryPC-item J-categoryPC-item" catId="102" id="102">
                        <a (click)="menu('DigitalSignature','')">Digital Signature</a>
                        <i class="fa fa-arrow-right arrowcol" style="margin-left: 60pt;color: #ffffff;"></i>
                        <i class="ob-icon icon-right"></i>
                     </div>
                     <div class="categoryPC-item J-categoryPC-item" catId="42" id="42">
                        <a (click)="menu('ISO & ISI CERTIFICATION','')">ISO & ISI Certification</a>
                        <i class="fa fa-arrow-right arrowcol" style="margin-left: 35pt;color: #ffffff;"></i>
                        <i class="ob-icon icon-right"></i>
                     </div>
                     <div class="categoryPC-item J-categoryPC-item" catId="132" id="132">
                        <a (click)="menu('Computer Sales and Service','')">Computer Sales and Services</a>
                        <i class="fa fa-arrow-right arrowcol" style="margin-left: -2pt;color: #ffffff;"></i>
                        <i class="ob-icon icon-right"></i>
                     </div>
                     <div class="categoryPC-item J-categoryPC-item" catId="82" id="82">
                        <a (click)="menu('CCTV & Security System','')">CCTV & Security System</a>
                        <i class="fa fa-arrow-right arrowcol" style="margin-left: 20pt;color: #ffffff;"></i>
                        <i class="ob-icon icon-right"></i>
                     </div>
                     <div class="categoryPC-item J-categoryPC-item" catId="12" id="12">
                        <a (click)="menu('Insurance Service','')">Insurance Services</a>
                        <i class="fa fa-arrow-right arrowcol" style="margin-left: 45pt;color: #ffffff;"></i>
                        <i class="ob-icon icon-right"></i>
                     </div>
                     <!-- <div class="categoryPC-item J-categoryPC-item" catId="72">
                        <a href="#">Loan Services</a>
                        <i class="fa fa-arrow-right"  style="margin-left: 68pt;color: #000000;"></i>
                        <i class="ob-icon icon-right"></i>
                     </div> -->
                     <div class="categoryPC-item J-categoryPC-item" catId="62" id="62">
                        <a (click)="menu('PAN & TAN','')">PAN & TAN</a>
                        <i class="fa fa-arrow-right arrowcol" style="margin-left: 82pt;color:#ffffff;"></i>
                        <i class="ob-icon icon-right"></i>
                     </div>
                  </div>
                  <div class="categoryPC-col J-categoryPC-level2">
                     <div class="categoryPC-group" catId="52">
                        <a (click)="menu('SoftwareService','All type of Customized software')">All type of Customized software</a>
                  <a (click)="menu('SoftwareService','Billing Software')">Billing Software</a>
                  <a (click)="menu('SoftwareService','Tally Software')">Tally Software</a>
                  <a (click)="menu('SoftwareService','Website designing and developing')">Website designing and developing</a>
                     </div>
                     <div class="categoryPC-group" catId="112">
                        <a [routerLink]="['/Companyincoperation']">LLP / PVT LTD Company Registration</a>
                        <a [routerLink]="['/Companyincoperation']">Proprietorship registration</a>
                        <a [routerLink]="['/Companyincoperation']" >Trust&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a [routerLink]="['/Companyincoperation']">NGO</a>        
                     </div>
                     <div class="categoryPC-group" catId="92">
                        <a [routerLink]="['/gstregistration']">GST Registration</a>
                        <a [routerLink]="['/gstmonthlyfiling']">GST monthly filing</a>
                        <a [routerLink]="['/Esiregistration']">ESI Registration</a>
                        <a [routerLink]="['/Esimonthlyfiling']">ESI Monthly filing</a>
                        <a (click)="menu('GST,ESI,PF','PF Registration')">PF Registration</a>
                        <a (click)="menu('GST,ESI,PF','PF Monthly Filing')">PF Monthly Filing</a>
                     </div>
                     <div class="categoryPC-group" catId="102">
                        <a (click)="menu('Digital Signature','All type of Class2 & Class3 Digital Signature')">All type of Class2 & Class3 Digital Signature</a>
                     </div>
                     <div class="categoryPC-group" catId="42">
                        <a (click)="menu('ISO & ISI Certification','ISO 9001, ISO27001, ISO 14001, ISO 18001, ISO 22000, ISO 13485')">ISO 9001, ISO27001, ISO 14001, ISO 18001, ISO 22000, ISO 13485</a>
                  <a (click)="menu('ISO & ISI Certification','ISI Mark Registration for manufacturing companies')">ISI Mark Registration for manufacturing companies</a>
                     </div>
                     <div class="categoryPC-group" catId="82">
                        <a (click)="menu('CCTV & Security System','CCTV camera installation')">CCTV camera installation</a>
                        <a (click)="menu('CCTV & Security System','Attendance System')">Attendance System</a>
                     </div>
                     <div class="categoryPC-group" catId="12">
                        <a (click)="menu('Insurance Services','LIC Insurance')">LIC Insurance</a>
                        <a (click)="menu('Insurance Services','Vehicle Insurance')">Vehicle Insurance</a>
                        <a (click)="menu('Insurance Services','Medical Health Insurance')">Medical Health Insurance </a>
                        <a (click)="menu('Insurance Services','Machinery Insurance')">Machinery Insurance</a>
                        <a (click)="menu('Insurance Services','Travel Insurance')">Travel Insurance</a>
                     </div>
                     <div class="categoryPC-group" catId="132">
                        <a (click)="menu('Computer Sales and Services','All type of branded and assembled Computer')">All type of branded and assembled Computer</a>
                        <a (click)="menu('Computer Sales and Services','Computer services and AMC')">Computer services and AMC</a>
                     </div>
                     <!-- <div class="categoryPC-group" catId="72">
                        <a href="#">Home Loan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="#">Personal Loan</a>
                        <a href="#">Business Loan</a>
                     </div> -->
                     <div class="categoryPC-group" catId="62">
                        <a (click)="menu('PAN & TAN','New PAN Card')">New PAN Card </a>
                        <a (click)="menu('PAN & TAN','Correction in PAN CARD')">Correction in PAN CARD</a>
                        <a (click)="menu('PAN & TAN','TAN Number for TDS')">TAN Number for TDS</a>
                     </div>
                  </div>
               </div>
            </div>
            <!-- 
            <a href="#" >TRAINING</a>
            <a href="#" >INVESTMENTS</a> 
            <P class="mdata"></P>
            <a [routerLink]="['/financesupport']">FINANCE</a>
            <a href="//www.famposo.com/preregistration" target="_blank">REGISTER</a>-->
            <a (click)="menu('Innovations','')">INNOVATIONS</a>
            <a (click)="menu('Gifted children','')">GIFTED CHILDREN</a>
            <a [routerLink]="['/register','signup']">JOIN NOW</a>
            <a  (click)="contactcs()">CONTACT US</a>
         </div>
      </div>
   </div>
</div>