
/********************* Product listing **********************/
.product-grid {
    font-family: Raleway, sans-serif;
    text-align: center;
    padding: 0 0 72px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.product-grid .product-image {
    position: relative;
    transition: all 0.3s ease 0s;
}
.product-grid .product-image a {
    display: block;
}
.product-grid .product-image img {
    width: 200pt;
    height: 200pt;
}
.product-grid .pic-1 {
    opacity: 1;
    transition: all 0.3s ease-out 0s;
}
.product-grid:hover .pic-1 {
    opacity: 1;
}
.product-grid .pic-2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-out 0s;
}
.product-grid:hover .pic-2 {
    opacity: 1;
}
.product-grid .social {
    width: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.product-grid:hover .social {
    opacity: 1;
    top: 50%;
}
.product-grid .social li {
    display: inline-block;
}
.product-grid .social li a {
    color: #fff;
    background-color: #333;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 0 2px;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.product-grid .social li a:hover {
    color: #fff;
    background-color: #ef5777;
}
.product-grid .social li a:after, .product-grid .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 1px 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px;
}
.product-grid .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -20px;
    z-index: -1;
}
.product-grid .social li a:hover:after, .product-grid .social li a:hover:before {
    opacity: 1;
}
.product-grid .product-discount-label, .product-grid .product-new-label {
    color: #fff;
    background-color: #ef5777;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
}
.product-grid .product-discount-label {
    background-color: #333;
    left: auto;
    right: 0;
}
.product-label
{
    font-size: 14px !important;
}

.product-grid .rating {
    color: #ffd200;
    font-size: 12px;
    padding: 5px 0 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: -1;
}
.product-grid .rating li.disable {
    color: rgba(0, 0, 0, 0.2);
}
.product-grid .product-content {
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -28px;
    z-index: 1;
    transition: all 0.3s;
}
.product-grid:hover .product-content {
    bottom: 0;
}
.product-grid .title {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.product-grid .title a {
    color: #828282;
}
.product-grid .title a:hover {
    color: #ef5777;
}
.product-grid:hover .title a {
    color: #ef5777;
}
.product-grid .price {
    color: #333;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 8px;
    text-align: center;
    transition: all 0.3s;
}
.product-grid .price span {
    color: #999;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 3px;
    display: inline-block;
}
.product-grid .add-to-cart {
    color: #000;
    font-size: 13px;
    font-weight: 600;
}
@media only screen and (max-width: 990px) {
    .product-grid {
        margin-bottom: 30px;
   }
}
.no-rightpad
{
    padding-right: 0 !important;
}
.no-leftpad
{
    padding-left: 0 !important;
}
.no-pad
{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.productright
{
    padding-right: 45px;
}
.productleft
{
    border-right:1px solid #bebaba;
    background-color: #fff;
}
@media only screen and (max-width: 767px) {
    .productright
    {
        padding-right: 45px;
        padding-left: 30px;
    }  
}
#productfilter {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    /* max-height: 240px;
    overflow-y: auto; */
}

#productfilter li a {
    background-color: #fff; 
    padding: 3px 12px;
    text-decoration: none; 
    font-size: 14px; 
    color: black; 
    display: block;
}


#productfilter li a.header {
    padding: 3px 12px;  
    font-weight: bold;
    cursor: default; /* Change cursor style */
}


#productfilter li a:hover:not(.header) {
    background-color: #3BAFDA; /* Add a hover effect to all links, except for headers */
    color: #fff;
}

#productfilter li input {
    cursor: pointer; 
}


#productfilter.notFound::after {
  padding: 0px 6px;  
  content: "No results found.";
}


/* Arunachalam menu bar 29/9.2020 css start*/

.mt-100 {
    margin-top: 150px
}

.filter-group {
    border-bottom: 1px solid #e4e4e4
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.filter-group .card-header {
    border-bottom: 0
}

.icon-control {
    margin-top: 6px;
    float: right;
    font-size: 80%
}

.list-menu {
    list-style: none;
    margin: 0;
    padding-left: 0
}

.list-menu a {
    color: #343a40
}

a {
    text-decoration: none !important;
    background-color: transparent
}

.checkbox-btn {
    position: relative
}

.checkbox-btn input {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.checkbox-btn input:checked~.btn {
    border-color: #3167eb;
    background-color: #3167eb;
    color: #fff
}

.btn-light {
    display: inline-block;
    font-weight: 600;
    color: #343a40;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    border: 1px solid #eee;
    padding: 0.45rem 0.85rem;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 0.37rem
}

.btn-light:hover {
    background-color: #fff;
    border-color: #989898
}

.btn-medium {
    font-size: 12px;
    padding: 10px 22px;
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 2px;
    border: 1px solid #157af6;
    width: 100%
}

.highlight-button:hover {
    background-color: #157af6;
    border: 2px solid #157af6;
    color: #fff
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem
}
.pagecontroller
{
    padding-top: 2%;
    padding-left: 34%;
}

@media (max-width: 575.98px) {
    .pagecontroller {
        font-size: 8pt;
        padding-top: 5%;
        padding-left: 0%;
    }
 }


@media (min-width: 576px) and (max-width: 767.98px) { 
    .pagecontroller {
        font-size: 8pt;
        padding-top: 2%;
        padding-left: 25%;
    }
 }


@media (min-width: 768px) and (max-width: 991.98px) {
    .pagecontroller {
        font-size: 8pt;
        padding-top: 2%;
        padding-left: 25%;
    }
 }


@media (min-width: 992px) and (max-width: 1199.98px) {

 }


@media (min-width: 1200px) {

 }